<h1>Listing bug_answers</h1>

<table>
  <tr>
    <th>Container</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bug_answers.each do |bug_answer| %>
  <tr>
    <td><%= bug_answer.container %></td>
    <td><%= bug_answer.date %></td>
    <td><%= link_to 'Show', bug_answer %></td>
    <td><%= link_to 'Edit', edit_bug_answer_path(bug_answer) %></td>
    <td><%= link_to 'Destroy', bug_answer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bug answer', new_bug_answer_path %>
