<p id="notice"><%= notice %></p>

<p>
  <b>Container:</b>
  <%= @bug_answer.container %>
</p>

<p>
  <b>Date:</b>
  <%= @bug_answer.date %>
</p>


<%= link_to 'Edit', edit_bug_answer_path(@bug_answer) %> |
<%= link_to 'Back', bug_answers_path %>
