<div class="container">
  <div class="row">
    <div class="span16">
      <ul class="breadcrumb">
        <li><%= link_to(t('.admin'), supervisor_dashboard_path) %></li>
      </ul>  
    </div>
  </div>
  <div class="dashboard">  
    <div class="row">
      <div class="span5">
        <%= render :partial => "supervisor/shared/admin_menu" %>
      </div>    
      <div class="span-two-thirds">
        <div class="dashboard-box">
          <div class="underline padding-top">
            <h2>Analytics</h2>
          </div>
          <div id="notifications">

            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Quizzes', :controller=>"analytics", :action=>"surveys", :format=>"csv" %>
              </div>
            </div>

            <div class='notification'>
              <div class="date-published">
                <div class="date-published">17 al 24 de enero</div>
                <%= link_to 'Reporte de Usuarios', 'http://50.116.21.144/users-20130117-20130124.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Posts', 'http://50.116.21.144/posts-20130117-20130124.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Logins', 'http://50.116.21.144/logins-20130117-20130124.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Dispositivos', 'http://50.116.21.144/devices-20130117-20130124.csv' %>
              </div>
            </div> 
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Posts más comentados', 'http://50.116.21.144/most_commented-20130117-20130124.csv' %>
              </div>
            </div>

            <div class='notification'>
              <div class="date-published">
                <div class="date-published">10 al 17 de enero</div>
                <%= link_to 'Reporte de Usuarios', 'http://50.116.21.144/users-20130110-20130117.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Posts', 'http://50.116.21.144/posts-20130110-20130117.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Logins', 'http://50.116.21.144/logins-20130110-20130117.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Dispositivos', 'http://50.116.21.144/devices-20130110-20130117.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Posts más comentados', 'http://50.116.21.144/most_commented-20130110-20130117.csv' %>
              </div>
            </div>

            <div class='notification'>
              <div class="date-published">
                <div class="date-published">03 al 10 de enero</div>
                <%= link_to 'Reporte de Usuarios', 'http://50.116.21.144/users-20130103-20130110.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Posts', 'http://50.116.21.144/posts-20130103-20130110.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Logins', 'http://50.116.21.144/logins-20130103-20130110.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Dispositivos', 'http://50.116.21.144/devices-20130103-20130110.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Posts más comentados', 'http://50.116.21.144/most_commented-20130103-20130110.csv' %>
              </div>
            </div>

            <div class='notification'>
              <div class="date-published">
                <div class="date-published">27 de diciembre al 03 de enero</div>
                <%= link_to 'Reporte de Usuarios', 'http://50.116.21.144/users-20121227-20130103.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Posts', 'http://50.116.21.144/posts-20121227-20130103.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Logins', 'http://50.116.21.144/logins-20121227-20130103.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Dispositivos', 'http://50.116.21.144/devices-20121227-20130103.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Posts más comentados', 'http://50.116.21.144/most_commented-20121227-20130103.csv' %>
              </div>
            </div>

            <div class='notification'>
              <div class="date-published">
                <div class="date-published">20 al 27 de diciembre</div>
                <%= link_to 'Reporte de Usuarios', 'http://50.116.21.144/users-20121220-20121227.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Posts', 'http://50.116.21.144/posts-20121220-20121227.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Logins', 'http://50.116.21.144/logins-20121220-20121227.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Dispositivos', 'http://50.116.21.144/devices-20121220-20121227.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Posts más comentados', 'http://50.116.21.144/most_commented-20121220-20121227.csv' %>
              </div>
            </div>
 
            <div class='notification'>
              <div class="date-published">
                <div class="date-published">13 al 20 de diciembre</div>
                <%= link_to 'Reporte de Usuarios', 'http://50.116.21.144/users-20121213-20121220.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Posts', 'http://50.116.21.144/posts-20121213-20121220.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Logins', 'http://50.116.21.144/logins-20121213-20121220.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Reporte de Dispositivos', 'http://50.116.21.144/devices-20121213-20121220.csv' %>
              </div>
            </div>
            <div class='notification'>
              <div class="date-published">
                <%= link_to 'Posts más comentados', 'http://50.116.21.144/most_commented-20121213-20121220.csv' %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "shared/footer" %>
