<style>
#filters{ padding:0; margin:0 0 20px -10px;}
#filters li{ list-style:none; display:inline; padding:0 10px 0 0; color:#999; }
#filters li a{ padding:0 0 0 10px; text-decoration:none; }
#filters li a.selected{ color:#000; text-decoration:none;}
#reportes-container{ margin-left:-6px; width:106%; float:left; }
#reportes-container .element {
  margin:6px;
  float: left;
  overflow: hidden;
  position: relative;
  width:180px;
  height:160px;
  border: solid 1px #ddd;
}

.element p{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.element a{
  padding-left: 60px;
}
/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -o-transition-property:         top, left, opacity;
  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
</style>
<div class="container">
  <div class="row">
    <div class="span16">
      <ul class="breadcrumb">
        <li><%= link_to(t('.admin'), supervisor_dashboard_path) %></li>
      </ul>  
    </div>
  </div>
  <div class="dashboard">  
    <div class="row">
      <div class="span5">
        <%= render :partial => "supervisor/shared/admin_menu" %>
      </div>    
      <div class="span-two-thirds">
        <div class="dashboard-box">
          <div class="underline padding-top">
            <h2>Analytics</h2>
          </div>
          <div class="form-inline">
            Elige Mes : <input type="text" id="mes-selector" value ="01-2013">              
              <input type="radio" name="radio" value=".semanal" class="checks"> Semanal /
              <input type="radio" name="radio" value=".quincenal" class="checks"> Quincenal /
              <input type="radio" name="radio" value=".mensual" class="checks"> Mensual

          </div>
          </br>
          <section id="options" class="clearfix">
            <ul id="filters" class="option-set clearfix" data-option-key="filter">
              <li><a href="#filter" data-option-value=".usuarios">Usuarios</a></li>
              <li>/<a href="#filter" data-option-value=".posts">Posts</a></li>
              <li>/<a href="#filter" data-option-value=".logins">Logins</a></li>
              <li>/<a href="#filter" data-option-value=".dispositivos">Dispositivos</a></li>
              <li>/<a href="#filter" data-option-value=".post_comentarios">Post/Comentarios</a></li>
              <li>/<a href="#filter" data-option-value=".quizzes">Quizzes</a></li>
            </ul>
          </section>

          <div id="reportes-container" class="clearfix">

            <!-- USUARIOS SEMANAL -->

            <div class="element usuarios semanal Marzo-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130321-20130328.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>21 al 28 de marzo</p>
            </div>

            <div class="element usuarios semanal Marzo-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130314-20130321.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>14 al 21 de marzo</p>
            </div>

            <div class="element usuarios semanal Marzo-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130307-20130314.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>7 de marzo al 14 de marzo</p>
            </div>

            <div class="element usuarios semanal Marzo-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130228-20130307.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>28 de febrero al 7 de marzo</p>
            </div>

            <div class="element usuarios semanal Febrero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130221-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>21 al 28 de febrero</p>
            </div> 

            <div class="element usuarios semanal Febrero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130214-20130221.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>14 al 21 de febrero</p>
            </div>

            <div class="element usuarios semanal Febrero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130207-20130214.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>7 al 14 de febrero</p>
            </div>

            <div class="element usuarios semanal Febrero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130131-20130207.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>24 de enero al 07 de febrero</p>
            </div>

            <div class="element usuarios semanal Enero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130124-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>24 al 31 de enero</p>
            </div>

            <div class="element usuarios semanal Enero-2013" > 
              <p> Usuarios</p>
              <a href="http://50.116.21.144/users-20130117-20130124.csv"  title="Reporte de Usuarios">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p> 17 al 24 de enero </br>
            </div>

            <div class="element usuarios semanal Enero-2013" > 
              <p> Usuarios</p>
              <a href="http://50.116.21.144/users-20130110-20130117.csv"  title="Reporte de Usuarios">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>10 al 17 de enero</p>
            </div>

            <div class="element usuarios semanal Enero-2013" > 
              <p> Usuarios </p>
              <a href="http://50.116.21.144/users-20130103-20130110.csv"  title="Reporte de Usuarios">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>03 al 10 de enero</p>
            </div>

            <div class="element usuarios semanal Enero-2013" > 
              <p> Usuarios </p>
              <a href="http://50.116.21.144/users-20121227-20130103.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>27 diciembre al 03 de enero</p>
            </div>
            
            <div class="element usuarios semanal Diciembre-2012" > 
              <p> Usuarios (20 al 27 de diciembre)</p>
              <a href="http://50.116.21.144/users-20121220-20121227.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>20 al 27 de diciembre</p>
            </div>

            <div class="element usuarios semanal Diciembre-2012" > 
              <p> Usuarios</p>
              <a href="http://50.116.21.144/users-20121213-20121220.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>13 al 20 de diciembre</p>
            </div>

            <!-- USUARIOS QUINCENALES -->

            <div class="element usuarios quincenal Marzo-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130315-20130331.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de marzo</p>
            </div>

            <div class="element usuarios quincenal Marzo-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130301-20130315.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 15 de marzo</p>
            </div>

            <div class="element usuarios quincenal Febrero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130215-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 28 de febrero</p>
            </div>

            <div class="element usuarios quincenal Febrero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130201-20130215.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 15 de febrero</p>
            </div>

            <div class="element usuarios quincenal Febrero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130201-20130215.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 15 de febrero</p>
            </div>

            <div class="element usuarios quincenal Enero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130115-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de enero</p>
            </div>

            <div class="element usuarios quincenal Enero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130101-20130115.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 15 de enero</p>
            </div>

            <div class="element usuarios quincenal Diciembre-2012" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20121215-20121231.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de diciembre</p>
            </div>

            <!-- USUARIOS MENSUALES -->

            <div class="element usuarios mensual Marzo-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130301-20130331.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 31 de marzo</p>
            </div>

            <div class="element usuarios mensual Febrero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130201-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 28 de febrero</p>
            </div>

            <div class="element usuarios mensual Enero-2013" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20130101-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 31 de enero</p>
            </div>

            <div class="element usuarios mensual Diciembre-2012" >
              <p>Usuarios</p>
              <a href="http://50.116.21.144/users-20121212-20121231.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>12 al 31 de diciembre</p>
            </div>

            <!-- POSTS SEMANALES -->

            <div class="element posts semanal Marzo-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130321-20130328.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>21 al 28 de marzo</p>
            </div>

            <div class="element posts semanal Marzo-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130314-20130321.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>14 al 21 de marzo</p>
            </div>

            <div class="element posts semanal Marzo-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130307-20130314.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>7 de marzo al 14 de marzo</p>
            </div>

            <div class="element posts semanal Marzo-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130228-20130307.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>28 de febrero al 7 de marzo</p>
            </div>

            <div class="element posts semanal Febrero-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130221-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>21 al 28 de febrero</p>
            </div>

            <div class="element posts semanal Febrero-2013" >
              <p> Posts</p>
              <a href="http://50.116.21.144/posts-20130214-20130221.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>14 al 21 de febrero</p>
            </div>

            <div class="element posts semanal Febrero-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130207-20130214.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>7 al 14 de febrero</p>
            </div>

            <div class="element posts semanal Febrero-2013" >
              <p> Posts</p>
              <a href="http://50.116.21.144/posts-20130131-20130207.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>31 de enero al 07 de febrero</p>
            </div>

            <div class="element posts semanal Enero-2013" >
              <p> Posts</p>
              <a href="http://50.116.21.144/posts-20130124-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>24 al 31 de enero</p>
            </div>

            <div class="element posts semanal Enero-2013" > 
              <p> Posts</p>
              <a href="http://50.116.21.144/posts-20130117-20130124.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>17 al 24 de enero</p>
            </div>

            <div class="element posts semanal Enero-2013" > 
              <p> Posts </p>
              <a href="http://50.116.21.144/posts-20130110-20130117.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>10 al 17 de enero</p>
            </div>

            <div class="element posts semanal Enero-2013" > 
              <p> Posts </p>
              <a href="http://50.116.21.144/posts-20130103-20130110.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>03 al 10 de enero</p>
            </div>

            <div class="element posts semanal Enero-2013" > 
              <p> Posts </p>
              <a href="http://50.116.21.144/posts-20121227-20130103.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>27 de diciembre al 03 de enero</p>
            </div>

            <div class="element posts semanal Diciembre-2012" > 
              <p> Posts </p>
              <a href="http://50.116.21.144/posts-20121220-20121227.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>20 al 27 de diciembre</p>
            </div>

            <div class="element posts semanal Diciembre-2012" > 
              <p> Posts </p>
              <a href="http://50.116.21.144/posts-20121213-20121220.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>13 al 20 de diciembre</p>
            </div>

            <!-- POSTS QUINCENALES -->

            <div class="element posts quincenal Marzo-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130315-20130331.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de marzo</p>
            </div>

            <div class="element posts quincenal Marzo-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130301-20130315.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 15 de marzo</p>
            </div>

            <div class="element posts quincenal Febrero-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130215-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 28 de febrero</p>
            </div>
             
            <div class="element posts quincenal Febrero-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130201-20130215.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 15 de febrero</p>
            </div>

            <div class="element posts quincenal Enero-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130115-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de enero</p>
            </div>

            <div class="element posts quincenal Enero-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130101-20130115.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 15 de enero</p>
            </div>

            <div class="element posts quincenal Diciembre-2012" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20121215-20121231.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de diciembre</p>
            </div>

            <!-- POSTS MENSUALES -->

            <div class="element posts mensual Marzo-2013">
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130301-20130331.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 31 de marzo</p>
            </div>

            <div class="element posts mensual Febrero-2013" >
              <p>Posts</p>
              <a href="http://50.116.21.144/posts-20130201-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 28 de febrero</p>
            </div>

            <div class="element posts mensual Enero-2013" >
              <p> Posts </p>
              <a href="http://50.116.21.144/posts-20130101-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 31 de enero</p>
            </div>

            <div class="element posts mensual Diciembre-2012" >
              <p> Posts </p>
              <a href="http://50.116.21.144/posts-20121212-20121231.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>12 al 31 de diciembre</p>
            </div>

            <!-- LOGINS SEMANALES -->

            <div class="element logins semanal Marzo-2013" >
              <p>Logins</p>
              <a href="http://50.116.21.144/logins-20130321-20130331.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>21 al 31 de marzo</p>
            </div>

            <div class="element logins semanal Marzo-2013" >
              <p>Logins </p>
              <a href="http://50.116.21.144/logins-20130314-20130321.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>14 al 21 de marzo</p>
            </div>

            <div class="element logins semanal Marzo-2013" >
              <p>Logins </p>
              <a href="http://50.116.21.144/logins-20130307-20130314.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>7 al 14 de marzo</p>
            </div>

            <div class="element logins semanal Marzo-2013" >
              <p>Logins </p>
              <a href="http://50.116.21.144/logins-20130228-20130307.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>28 de febrero al 7 de marzo</p>
            </div>

            <div class="element logins semanal Febrero-2013" >
              <p>Logins </p>
              <a href="http://50.116.21.144/logins-20130221-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>21 al 28 de febrero</p>
            </div>

            <div class="element logins semanal Febrero-2013" >
              <p>Logins </p>
              <a href="http://50.116.21.144/logins-20130214-20130221.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>14 al 21 de febrero</p>
            </div>

            <div class="element logins semanal Febrero-2013" >
              <p> Logins </p>
              <a href="http://50.116.21.144/logins-20130207-20130214.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>7 al 14 de febrero</p>
            </div>

            <div class="element logins semanal Febrero-2013" >
              <p> Logins </p>
              <a href="http://50.116.21.144/logins-20130131-20130207.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>31 de enero al 7 de febrero</p>
            </div>

            <div class="element logins semanal Enero-2013" >
              <p> Logins </p>
              <a href="http://50.116.21.144/logins-20130124-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>24 al 31 de enero</p>
            </div>

            <div class="element logins semanal Enero-2013" > 
              <p>Logins</p>
              <a href="http://50.116.21.144/logins-20130117-20130124.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>17 al 24 de enero</p>
            </div>

            <div class="element logins semanal Enero-2013" > 
              <p> Logins </p>
              <a href="http://50.116.21.144/logins-20130110-20130117.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>10 al 17 de enero</p>
            </div>

            <div class="element logins semanal Enero-2013" > 
              <p> Logins</p>
              <a href="http://50.116.21.144/logins-20130103-20130110.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>03 al 10 de enero</p>
            </div>

            <div class="element logins semanal Enero-2013" > 
              <p> Logins</p>
              <a href="http://50.116.21.144/logins-20121227-20130103.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>27 de diciembre al 03 de enero</p>
            </div>

            <div class="element logins semanal Diciembre-2012" > 
              <p> Logins</p>
              <a href="http://50.116.21.144/logins-20121220-20121227.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>20 al 27 de diciembre</p>
            </div>

            <div class="element logins semanal Diciembre-2012" > 
              <p> Logins</p>
              <a href="http://50.116.21.144/logins-20121213-20121220.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>13 al 20 de diciembre</p>
            </div>

            <!-- LOGINS QUINCENALES -->

            <div class="element logins quincenal Marzo-2013" >
              <p>Logins</p>
              <a href="http://50.116.21.144/logins-20130315-20130331.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de marzo</p>
            </div>

            <div class="element logins quincenal Marzo-2013" >
              <p>Logins</p>
              <a href="http://50.116.21.144/logins-20130301-20130315.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 15 de marzo</p>
            </div>
            
            <div class="element logins quincenal Febrero-2013" >
              <p>Logins</p>
              <a href="http://50.116.21.144/logins-20130215-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 28 de febrero</p>
            </div>

            <div class="element logins quincenal Febrero-2013" >
              <p> Logins</p>
              <a href="http://50.116.21.144/logins-20130201-20130215.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 15 de febrero</p>
            </div>

            <div class="element logins quincenal Enero-2013" >
              <p> Logins</p>
              <a href="http://50.116.21.144/logins-20130115-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de enero</p>
            </div>

            <div class="element logins quincenal Enero-2013" >
              <p> Logins</p>
              <a href="http://50.116.21.144/logins-20130101-20130115.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 15 de enero</p>
            </div>

            <div class="element logins quincenal Diciembre-2012" >
              <p>Logins</p>
              <a href="http://50.116.21.144/logins-20121215-20121231.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de diciembre</p>
            </div>

            <!-- LOGINS MENSUALES -->

            <div class="element logins mensual Marzo-2013" >
              <p>Logins</p>
              <a href="http://50.116.21.144/logins-20130301-20130331.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 31 de marzo</p>
            </div>

            <div class="element logins mensual Febrero-2013" >
              <p>Logins</p>
              <a href="http://50.116.21.144/logins-20130201-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 28 de febrero</p>
            </div>

            <div class="element logins mensual Enero-2013" >
              <p>Logins</p>
              <a href="http://50.116.21.144/logins-20130101-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 31 de enero</p>
            </div>
     
            <div class="element logins mensual Diciembre-2012" >
              <p> Logins</p>
              <a href="http://50.116.21.144/logins-20121212-20121231.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>12 al 31 de diciembre</p>
            </div>

            <!-- DISPOSITIVOS SEMANAL -->

            <div class="element dispositivos semanal Marzo-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130321-20130328.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>21 al 28 de marzo</p>
            </div>

            <div class="element dispositivos semanal Marzo-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130314-20130321.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>14 al 21 de marzo</p>
            </div>

            <div class="element dispositivos semanal Marzo-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130307-20130314.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>7 al 14 de marzo</p>
            </div>

            <div class="element dispositivos semanal Marzo-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130228-20130307.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>28 de febrero al 7 de marzo</p>
            </div>

            <div class="element dispositivos semanal Febrero-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130221-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>21 al 28 de febrero</p>
            </div>

            <div class="element dispositivos semanal Febrero-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130214-20130221.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>14 al 21 de febrero</p>
            </div>

            <div class="element dispositivos semanal Febrero-2013" >
              <p> Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130207-20130214.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>7 al 14 de febrero</p>
            </div>

            <div class="element dispositivos semanal Febrero-2013" >
              <p> Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130131-20130207.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>31 de enero al 7 de febrero</p>
            </div>

            <div class="element dispositivos semanal Enero-2013" >
              <p> Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130124-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>24 al 31 de enero</p>
            </div>

            <div class="element dispositivos semanal Enero-2013" > 
              <p> Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130117-20130124.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>17 al 24 de enero</p>
            </div>

            <div class="element dispositivos semanal Enero-2013" > 
              <p> Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130110-20130117.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>10 al 17 de enero</p>
            </div>

            <div class="element dispositivos semanal Enero-2013" > 
              <p> Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130103-20130110.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>03 al 10 de enero</p>
            </div>

            <div class="element dispositivos semanal Enero-2013" > 
              <p> Dispositivos </p>
              <a href="http://50.116.21.144/devices-20121227-20130103.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>27 de diciembre al 03 de enero</p>
            </div>

            <div class="element dispositivos semanal Diciembre-2012" > 
              <p> Dispositivos</p>
              <a href="http://50.116.21.144/devices-20121220-20121227.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>20 al 27 de diciembre</p>
            </div>

            <div class="element dispositivos semanal Diciembre-2012" > 
              <p> Dispositivos</p>
              <a href="http://50.116.21.144/devices-20121213-20121220.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>13 al 20 de diciembre</p>
            </div>

            <!-- DISPOSITIVOS QUINCENAL -->

            <div class="element dispositivos quincenal Marzo-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130315-20130331.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de marzo</p>
            </div>

            <div class="element dispositivos quincenal Marzo-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130301-20130315.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 15 de marzo</p>
            </div>

            <div class="element dispositivos quincenal Febrero-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130215-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 28 de febrero</p>
            </div>

            <div class="element dispositivos quincenal Febrero-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130201-20130215.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 15 de febrero</p>
            </div>

            <div class="element dispositivos quincenal Enero-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130115-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de enero</p>
            </div>
 
            <div class="element dispositivos quincenal Enero-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130101-20130115.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 15 de enero</p>
            </div>

            <div class="element dispositivos quincenal Diciembre-2012" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20121215-20121231.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de diciembre</p>
            </div>

            <!-- DISPOSITIVOS MENSUAL -->

            <div class="element dispositivos mensual Marzo-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130301-20130331.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 31 de marzo</p>
            </div>

            <div class="element dispositivos mensual Febrero-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130201-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 28 de febrero</p>
            </div>

            <div class="element dispositivos mensual Enero-2013" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20130101-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 31 de enero</p>
            </div>
 
            <div class="element dispositivos mensual Diciembre-2012" >
              <p>Dispositivos</p>
              <a href="http://50.116.21.144/devices-20121212-20121231.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>12 al 31 de enero</p>
            </div>

            <!-- POST/COMENTARIOS SEMANAL -->

            <div class="element post_comentarios semanal Marzo-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130321-20130328.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>21 al 28 de marzo</p>
            </div>

            <div class="element post_comentarios semanal Marzo-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130314-20130321.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>14 al 21 de marzo</p>
            </div>

            <div class="element post_comentarios semanal Marzo-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130307-20130314.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>7 al 14 de marzo</p>
            </div>

            <div class="element post_comentarios semanal Marzo-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130228-20130307.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>28 de febrero al 7 de marzo</p>
            </div>

            <div class="element post_comentarios semanal Febrero-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130221-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>21 al 28 de febrero</p>
            </div>

            <div class="element post_comentarios semanal Febrero-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130214-20130221.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>14 al 21 de febrero</p>
            </div>

            <div class="element post_comentarios semanal Febrero-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130207-20130214.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>7 al 14 de febrero</p>
            </div>

            <div class="element post_comentarios semanal Febrero-2013" >
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130131-20130207.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>31 de enero al 07 de febrero</p>
            </div>

            <div class="element post_comentarios semanal Enero-2013" >
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130124-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>24 al 31 de enero</p>
            </div>

            <div class="element post_comentarios semanal Enero-2013" > 
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130117-20130124.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>17 al 24 de enero</p>
            </div>

            <div class="element post_comentarios semanal Enero-2013" > 
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130110-20130117.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>10 al 17 de enero</p>
            </div>

            <div class="element post_comentarios semanal Enero-2013" > 
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130103-20130110.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>03 al 10 de enero</p>
            </div>

            <div class="element post_comentarios semanal Enero-2013" > 
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20121227-20130103.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>27 de diciembre al 03 de enero</p>
            </div>

            <div class="element post_comentarios semanal Diciembre-2012" > 
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20121220-20121227.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>20 al 27 de diciembre</p>
            </div>

            <div class="element post_comentarios semanal Diciembre-2012" > 
              <p> Post/Comentarios </p>
              <a href="http://50.116.21.144/most_commented-20121213-20121220.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>13 al 20 de diciembre</p>
            </div>

            <!-- POST/COMENTARIOS QUINCENAL -->

            <div class="element post_comentarios quincenal Marzo-2013">
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130315-20130331.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de Marzo</p>
            </div>

            <div class="element post_comentarios quincenal Marzo-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130301-20130315.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 15 de Marzo</p>
            </div>

            <div class="element post_comentarios quincenal Febrero-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130215-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 28 de Febrero</p>
            </div>

            <div class="element post_comentarios quincenal Febrero-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130201-20130215.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>1 al 15 de Febrero</p>
            </div>

            <div class="element post_comentarios quincenal Enero-2013" >
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130115-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de enero</p>
            </div>

            <div class="element post_comentarios quincenal Enero-2013" >
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130101-20130115.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 15 de enero</p>
            </div>

            <div class="element post_comentarios quincenal Diciembre-2012" >
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20121215-20121231.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>15 al 31 de diciembre</p>
            </div>

            <!-- POST/COMENTARIOS MENSUAL -->

            <div class="element post_comentarios mensual Marzo-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130301-20130331.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 31 de marzo</p>
            </div>

            <div class="element post_comentarios mensual Febrero-2013" >
              <p>Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130201-20130228.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 28 de febrero</p>
            </div>

            <div class="element post_comentarios mensual Enero-2013" >
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20130101-20130131.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>01 al 31 de enero</p>
            </div>
  
            <div class="element post_comentarios mensual Diciembre-2012" >
              <p> Post/Comentarios</p>
              <a href="http://50.116.21.144/most_commented-20121212-20121231.csv">
                <img src="/assets/report.png" alt="Image" width="64px"/>
              </a>
              <p>12 al 31 de diciembre</p>
            </div>

            <!-- QUIZZES -->

            <% Survey.all.each do |survey| %>
            <div class="element quizzes" > 
              <p> <%= survey.name%> </p>
              <%= link_to image_tag("/assets/report.png", :width=>"64px"), :controller=>"analytics", :action=>"surveys", :format=>"csv", :survey_id => survey.id %>
              <p><%= survey.created_at.to_s.split.first %></p>
            </div>
            <% end %>

          </div> <!-- #container -->
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "shared/footer" %>
<script type="text/javascript" src="http://isotope.metafizzy.co/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="http://isotope.metafizzy.co/jquery.isotope.min.js"></script>
<link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css'>
<script type="text/javascript" src="https://raw.github.com/lucianocosta/jquery.mtz.monthpicker/master/jquery.mtz.monthpicker.js"></script>


<script type="text/javascript">

var filters = ['.Enero-2013',''],
    year = '2013';

$(function () {

  $(".element a img").hover(function() {
    $(this).stop().animate({opacity: "0.8"}, 'slow');
  },
  function() {
    $(this).stop().animate({opacity: "1"}, 'slow');
  });

  var $container = $('#reportes-container'),
  meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
  'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];

  $container.isotope({
    itemSelector: '.element'
  });

  $container.isotope({ filter: filters.join('') });
  
  //link picker(usuarios/post/coments ...)
  var $optionSets = $('#options .option-set'),
      $optionLinks = $optionSets.find('a');

      $optionLinks.click(function(){
        var $this = $(this);
        // don't proceed if already selected
        if ( $this.hasClass('selected') ) {
          return false;
        }
        var $optionSet = $this.parents('.option-set');
        $optionSet.find('.selected').removeClass('selected');
        $this.addClass('selected');

        var value = $this.attr('data-option-value');

        filters[1]= value;

        if(value == '.quizzes'){
          $container.isotope({ filter: value });
          return false;
        }

        $container.isotope({ filter: filters.join('') });
        
        return false;
      });

  var $checkboxes = $('div.form-inline input');

   $checkboxes.change(function(){
    var filter;
    // get checked checkboxes values
    $checkboxes.filter(':checked').each(function(){
      filter = this.value;
    });
    
    filters[2] = filter;
    $container.isotope({ filter: filters.join('') });
  });

  //month picker
  $('#mes-selector').monthpicker({
    pattern: 'mm-yyyy',
    selectedYear: 2013,
    startYear: 2012,
    finalYear: 2050,
    monthNames: meses
  }).bind('monthpicker-click-month', function (e, month) {
    var date = new Date(e.timeStamp),
    filter = '.'+meses[ month - 1]+'-'+ year ;

    filters = [];
    $('#options-meses .option-set').find('.selected').removeClass('selected');
    $('#options .option-set').find('.selected').removeClass('selected');
    
    $('.checks').each(function(){
      this.checked = false;
    });


    filters[0] = filter;
    $container.isotope({ filter: filters.join('') });
  }).bind('monthpicker-change-year',function(e,y){
      year = y;
  });

});
</script>
