<div class="container">
  
  <div class="row">
    <div class="span16">
      <ul class="breadcrumb">
        <li><%= link_to(t('.admin'), supervisor_dashboard_path) %> <span class="divider">/</span></li>
        <li><%= t('supervisor.import_csv') %></li>
      </ul>  
    </div>
  </div>
  
  <div class="dashboard">  

    <div class="row">
      <div class="span5">
        <%= render :partial => "supervisor/shared/admin_menu" %>
      </div>
      
      <div class="span9">
        <br />
        <%= form_for @asset, url: create_asset_path(:html => {:class => "well", :multipart => true}) do |f| %>
          <%= f.label :file, "Archivo CSV" %>
          <%= f.file_field :file %>
          <%= hidden_field_tag :role, "#{params[:role]}" %>

          <%= f.submit "Cargar", :class => "btn" %>
        <% end %>
        
      </div>
    </div>
    <!-- Contexts or Networks should be in a drop-down or the way Github does Contexts -->
  </div>
  <%= render :partial => "shared/footer"%>
</div>
