<div class="container">
  
  <div class="row">
    <div class="span16">
      <ul class="breadcrumb">
        <li><%= link_to(t('.admin'), supervisor_dashboard_path) %> <span class="divider">/</span></li>
        <li><%= t('supervisor.shared.admin_menu.new_user') %></li>
      </ul>  
    </div>
  </div>
  
  <div class="dashboard">  

    <div class="row">
      <div class="span5">
        <%= render :partial => "supervisor/shared/admin_menu" %>
      </div>

      <div class="span9">
          <%= @password_generado = Devise.friendly_token[0,20]%>
        <h2><%= t('supervisor.shared.admin_menu.new_user') %></h2>
        <%= semantic_form_for @user, :url => create_user_users_path, :method => :post  do |form| %>
          <%= form.inputs :basic do %>
            <%= form.input :email, :input_html => { :placeholder => t('forms.email') + " *", :class => "span4" } %>
            <%= form.input :first_name, :input_html => { :placeholder => t('forms.first_name') + " *", :class => "span4", :style => 'margin-right:10px;' }%>
            <%= form.input :last_name, :input_html => { :placeholder => t('forms.last_name'), :class => "span4" } %>
            <%= form.input :role, :collection => { "Profesor" => "teacher", "Estudiante" => "student", "Administrador" => "supervisor" },
              :prompt => t("formtastic.actions.select_one"), :hint => "El usuario recibirá un e-mail a su correo con una contraseña aleatoria" %>
            <%= form.input :state, :as => :hidden, :input_html => { :value => "active" } %>
            <%= form.input :terms_of_service, :as => :hidden, :input_html => { :value => "1" } %>
            <%#= form.input :password, :input_html => { :class => "span4", :value => @password_generado  } %>
            <%#= form.input :password_confirmation, :input_html => { :class => "span4", :value =>@password_generado } %>
             </br>
             <%#= form.input :vpassword, :input_html => { :class => "span4", :value => @password_generado  } %>
            
          <% end %>
          <%= form.buttons :class => "fieldset-admin" do %>
            <%= form.commit_button :label => "Registrar usuario", :button_html => {:id => :submit, :class => 'btn right'} %>
          <% end %>
           <span class="fieldset-admin-txt"><%= link_to("Cancelar", supervisor_new_user_path) %></span>
        <% end %>
      </div>
    </div>
    <!-- Contexts or Networks should be in a drop-down or the way Github does Contexts -->
  </div>
  <%= render :partial => "shared/footer"%>
</div>
