<%= javascript_include_tag 'supervisor' %>
<div class="container">
  
  <div class="row">
    <div class="span16">
      <ul class="breadcrumb">
        <li><%= link_to(t('.admin'), supervisor_dashboard_path) %> <span class="divider">/</span></li>
        <li><%= t('courses.members.students') %></li>
      </ul>  
    </div>
  </div>
  
  <div class="dashboard">  

    <div class="row">
      <div class="span5">
        <%= render :partial => "supervisor/shared/admin_menu" %>
      </div>

      <div class="span5">
        <h2><%= pluralize @students.size, t('.registered_students') %></h2>
      </div>
      <div class="span2" style="margin-left:20px;">
        <%= link_to t('supervisor.import_csv'), supervisor_import_users_path(:role => :student), :class => "btn small" %>
      </div>
      <div class="span2" style="margin-left:10px;">
        <%= link_to t('supervisor.export_csv'), supervisor_students_path(:format => :csv), :class => "btn info small right" %>
      </div>
      
      <div class="span9">

        <div class="users students">
          <% @students.each do |student| %>
            <div class="user padding-all <%= cycle('odd', 'even') %>">
              <div class="student">
                <div class="row">
                  <div class="span1" style="margin-left:20px;">
                    <%= image_tag student.avatar_file.xsmall.url %>
                  </div>
                  <div class="span5">
                    <%= link_to(student.name, user_path(student)) %><br />
                    <%= mail_to student.email %>
                  </div>
                  <div class="span3-5">
                    <div class="user_options">
                      <div class="edit_role">
                        <%= link_to t('.change_role'), 'javascript:void(0)', :class=>"accept btn success small change_role_button" %>
                        <%= link_to t('.destroy'), '#', :class=>"reject btn small danger" %>
                      </div>
                      <div id="edit_role_form" style="display:none;">
                        <%= form_for student do |f|%>
                          <%= f.select :role, options_for_select([[t('.student'), "student"], [t('.teacher'), "teacher"]])%>
                          <%= f.submit t('.update'), :class => "accept btn success small"%>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <%= paginate @students%>
        </div>
      </div>
    </div>
    <!-- Contexts or Networks should be in a drop-down or the way Github does Contexts -->
  </div>
  <%= render :partial => "shared/footer"%>
</div>


