<%= javascript_include_tag 'supervisor' %>
<div class="container">
  
  <div class="row">
    <div class="span16">
      <ul class="breadcrumb">
        <li><%= link_to(t('.admin'), supervisor_dashboard_path) %> <span class="divider">/</span></li>
        <li><%= t('courses.members.supervisors') %></li>
      </ul>  
    </div>
  </div>
  
  <div class="dashboard">  

    <div class="row">
      <div class="span5">
        <%= render :partial => "supervisor/shared/admin_menu" %>
      </div>

      <div class="span5">
        <h2><%= pluralize @supervisors.count, t('.singular_supervisor'), t('.plural_supervisor') %></h2>
      </div>
      
      <div class="span9">

        <div class="users students">
          <% @supervisors.each do |supervisor| %>
            <div class="user padding-all <%= cycle('odd', 'even') %>">
              <div class="supervisor">
                <div class="row">
                  <div class="span1" style="margin-left:20px;">
                    <%= image_tag supervisor.avatar_file.xsmall.url %>
                  </div>
                  <div class="span5">
                    <%= link_to(supervisor.name, user_path(supervisor)) %><br />
                    <%= mail_to supervisor.email %>
                  </div>
                  <% if current_user.email != supervisor.email %>
                  <div class="span3-5">
                    <div class="user_options">
                      <div class="edit_role">
                        <%= link_to t('.change_role'), 'javascript:void(0)', :class=>"accept btn success small change_role_button" %>
                        <%= link_to t('.destroy'), '#', :class=>"reject btn small danger" %>
                      </div>
                      
                      <div id="edit_role_form" style="display:none;">
                        <%= form_for supervisor do |f|%>
                          <%= f.select :role, options_for_select([[t('.supervisor'), "supervisor"], [t('.teacher'), "teacher"], [t('.student'), "student"]])%>
                          <%= f.submit t('.update'), :class => "accept btn success small"%>
                        <%end%>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <%= paginate @supervisors%>
        </div>
      </div>
    </div>
    <!-- Contexts or Networks should be in a drop-down or the way Github does Contexts -->
  </div>
  <%= render :partial => "shared/footer"%>
</div>


