<div class="container">
  <div class="row">
    <div class="span16">
      <ul class="breadcrumb">
        <li><%= link_to(t('.admin'), supervisor_dashboard_path) %> <span class="divider">/</span></li>
        <li><%= t('courses.members.teachers') %></li>
      </ul>  
    </div>
  </div>
  
  <div class="dashboard">  

    <div class="row">
      <div class="span5">
        <%= render :partial => "supervisor/shared/admin_menu" %>
      </div>

      <div class="span5">
        <h2><%= pluralize @teachers_count, t('.registered_teachers') %></h2>
      </div>
      <div class="span2" style="margin-left:20px;">
        <%= link_to t('supervisor.import_teachers'), supervisor_import_users_path(:role => :teacher), :class => "btn small" %>
      </div>
      <div class="span2" style="margin-left:10px;">
        <%= link_to t('supervisor.export_teachers'), supervisor_teachers_path(:format => :csv), :class => "btn info small right" %>
      </div>
      
      <div class="span9">
        <ul class="tabs tabs_fix">
          <li class=<%= class_for_active_li(params[:type], "approved")%>><%= link_to t('courses.teachers.approved'), '#approved' %></li>
          <li class=<%= class_for_active_li(params[:type], "pending")%>><%= link_to_pending_teachers(@pending_teachers_total) %></li>
        </ul>
        <div class="pill-content">
          <div id="approved" class="users teachers <%= class_for_active_li(params[:type], "approved")%>">
            <%= render :partial => "supervisor/shared/teachers", :locals => {:teachers => @approved}%>
            <%= paginate @approved, :param_name => :a_page, :params=>{:type=>"approved"} %>
          </div>
       
          <div id="pending" class="users teachers <%= class_for_active_li(params[:type], "pending")%>">
            <%= render :partial => "supervisor/shared/teachers", :locals => {:teachers => @pending}%>
            <%=  paginate @pending, :param_name => :p_page, :params=>{:type=>"pending"} %>
          </div>
        </div>
      </div>
    </div>
    <!-- Contexts or Networks should be in a drop-down or the way Github does Contexts -->
  </div>
  <%= render :partial => "shared/footer"%>
</div>

