<%= javascript_include_tag 'bootstrap-tabs' %>
<%= javascript_include_tag 'supervisor'%>
<div class="container">
  
  <div class="row">
    <div class="span16">
      <ul class="breadcrumb">
        <li><%= link_to(t('.admin'), supervisor_dashboard_path) %> <span class="divider">/</span></li>
        <li><%= t('courses.members.teachers') %></li>
      </ul>  
    </div>
  </div>
  
  <div class="dashboard">  

    <div class="row">
      <div class="span5">
        <%= render :partial => "supervisor/shared/admin_menu" %>
      </div>
      
      <div class="span9">
        <h2><%= t('courses.members.teachers') %></h2>
        <ul class="tabs">
          <li class="active"><%= link_to t('courses.teachers.approved'), '#approved' %></li>
          <li><%= link_to_pending_teachers(@pending_teachers_total) %></li>
        </ul>
        <div class="pill-content">
          <div id="approved" class="users teachers active">
            <%= render :partial => "supervisor/shared/teachers", :locals => {:teachers => @approved}%>
          </div>
          <div id="pending" class="users teachers">
            <%= render :partial => "supervisor/shared/teachers", :locals => {:teachers => @pending}%>
          </div>
        </div>
      </div>
    </div>
    <!-- Contexts or Networks should be in a drop-down or the way Github does Contexts -->
  </div>
  <%= render :partial => "shared/footer"%>
</div>

