<style>
  .ui-top-users{
    border:1px #CCC;
    background-color: #EEE;
    padding-bottom: 2px;
    margin-top: 3px;
  }
  .ui-top-users hover{
    background-color: #EFEFEF;
  }
</style>
<script>
  var users = {};
</script>
<div class="container">
  <div class="row">
    <div class="span16">
      <ul class="breadcrumb">
        <li><%= link_to(t('.admin'), supervisor_dashboard_path) %></li>
      </ul>
    </div>
  </div>
  <div class="dashboard">
    <div class="row">
      <div class="span5">
        <%= render :partial => "supervisor/shared/admin_menu" %>
      </div>
      <div class="span-two-thirds">
        <div class="dashboard-box">
          <div class="underline padding-top">
            <div style="padding:0 0 15px 30px;">              
            <h2>Top Users</h2>
            <input data-autocomplete-source="/search_users" id="top_users_user_name" name="top_users[user_name]" size="50" type="text" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
            <input class="btn" id="agregar-top-user" type="button" value="Agregar">
            </div>
           
            <%= form_tag '/save_top_users', :remote => true do %>
            <ul id="save_top_users" class="ui-sortable">
              <% TopUsers.last.rankings.each  do |ranking|%>
                <li class="ui-top-users" style="display:block;" id="top-user-<%= ranking.user_id%>">
                  <input type="hidden" name="top_users[users][]" value="<%= ranking.user_id%>">
                  <img alt="Student_xsmall" src="/assets/student_xsmall.png" style="float:left; padding:0 20px 0 0;">
                  <p style="font-size:14px; padding-top:3px;">
                    <%=ranking.user.name%>
                    <input class="btn danger pull-right" type="button" id = "btn-top-user-delete-<%= ranking.user_id%>" value="Eliminar">
                    <script>
                      users['<%= ranking.user_id%>']=true;

                      $('#btn-top-user-delete-<%= ranking.user_id%>').on('click',function(){
                        $("#top-user-<%= ranking.user_id%>").remove();   
                      });
                    </script>
                  </p>
                  <div style="clear:both;"></div>
                </li>
              <% end %>
            </ul>
            <%= submit_tag 'Guardar', :class => 'btn small info add_record pull-right' %>                
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(function () {
          var maxNumUsers = 20,
            selectedUser;

        $( "#save_top_users" ).sortable({
          placeholder: "ui-state-highlight"
        });
        $( "#save_top_users" ).disableSelection();

        $('#top_users_user_name').autocomplete({
            source: $('#top_users_user_name').data('autocomplete-source'),
            minLength: 3,
            delay: 500,
            // This function is executed when a suggestion is selected
            select: function (event, ui) {
                // Sets the text of the input textbox to the title of the object referenced
                // by the selected list item
                $("#top_users_user_name").val(ui.item.id + ' | ' + ui.item.first_name +' '+ ui.item.last_name );
                // addToFormTopUsers(ui.item);
                selectedUser = ui.item;
                return false;
            },
            // This function is executed when the users focuses on a item with the mouse
            // or keyboard
            focus: function (event, ui) {
                $("#top_users_user_name").val(ui.item.id + ' | ' + ui.item.first_name +' '+ ui.item.last_name );
                // addToFormTopUsers(ui.item);
                selectedUser = ui.item;
                return false;
            }
        }).data("autocomplete")._renderItem = function (ul, item) {
            return $("<li></li>").data("item.autocomplete", item).append(
                '<a>' + item.id + ' | ' + item.first_name +' '+ item.last_name + '</a>').appendTo(ul);
        };

        $('#agregar-top-user').on('click',function(){
            if($("#top_users_user_name").val()){
              addToFormTopUsers(selectedUser);
              $("#top_users_user_name").val('');
              selectedUser=undefined;
            }
        });

        function addToFormTopUsers(user){
          if(!users[user.id]){
            $("#save_top_users").append(
              '<li class="ui-top-users" style="display:block;" id="top-user-'+user.id+'">'+
                  '<input type="hidden" name="top_users[users][]" value="'+user.id+'">'+
                  '<img alt="Student_xsmall" src="/assets/student_xsmall.png" style="float:left; padding:0 20px 0 0;">'+
                  '<p style="font-size:14px; padding-top:3px;">'+
                      user.first_name+' '+ user.last_name+
                    '<input class="btn danger pull-right" type="button" id = "btn-top-user-delete-'+user.id+'" value="Eliminar">'+ 
                  '</p>'+
                  '<div style="clear:both;"></div>'+
              '</li>'
            );
              $('#btn-top-user-delete-'+user.id).on("click",function(){
                $('#top-user-'+user.id).remove();
              });
                   
          }
          else{
            alert('Ese usuario ya esta agregado!');
          }
        }
    });
</script>
