<div class="container">
  <div class="content">
    <div class="row">
      <div class="span3">
        <%= render :partial => "courses/course_menu" %>
        <%= render :partial => "courses/members_menu" %>
      </div>
      <div class="span10">
        <h2><%= t('courses.requests.pending_requests') %></h2>

        <div>
          <% @requests.each do |request| %>
            <div class="request">
              <%= request.user.email %>
              <%= request.user.name %>
              <%= link_to 'Accept', accept_request_path(request), :method => :post %>
              <br/>
              <%= link_to 'Reject', reject_request_path(request), :method => :post %>
            </div>
          <% end %>
        </div>
        
      </div>
      <div class="span3" style="margin:0;">
        <%= render :partial => "shared/adds" %>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
