<div class="container">
  <div class="content">
    <div class="row">
      <div class="span3">
        <%= render :partial => "courses/course_menu" %>
        <%= render :partial => "courses/members_menu" %>
      </div>
      <div class="span10">
        <h2><%= t('courses.requests.pending_requests') %></h2>
        
        <div class="members top-margin">
          <% @requests.each do |request| %>
            <div class="row <%= cycle("odd", "even") %>">
              <div class="span1" style="margin-left:20px;">
                <%= image_tag(request.user.avatar_file.xsmall.url) %>
              </div>
              <div class="span4">
                <%= link_to(request.user.name, user_path(request.user)) %><br />
                <%= request.user.email %>
              </div>
              <div class="span4">
                <%= link_to 'Accept', accept_request_path(request), :method => :post, :class => 'btn small success' %>
                <%= link_to 'Reject', reject_request_path(request), :method => :post, :class => 'btn small danger' %>
              </div>
            </div>
          <% end %>
        </div>
        
      </div>
      <div class="span3" style="margin:0;">
        <%= render :partial => "shared/adds" %>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
