<% if current_user.view_status =="fantom"%>
<div class="container">
  <div class="content">
	<center>
<%= image_tag("suspendido.png")%>
    </center>
  </div>
</div>
<%else%>
<div class="container">
  <div class="content">
    
    <div class="row">
      <div class="span16">
        <ul class="breadcrumb">
          <li><%= link_to("Dashboard", dashboard_path) %> <span class="divider">/</span></li>
          <li><%= link_to(t('courses.courses'), courses_path) %> <span class="divider">/</span></li>
          <li><%= link_to(@course.name, course_path(@course)) %> <span class="divider">/</span></li>
          <li><%= t('discussions.title') %></li>
        </ul>  
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <%= render :partial => "courses/course_menu" %>
        <%= render :partial => "courses/members_menu" %>
      </div>
    
      <div class="span10">

        <div class="row bottom-margin">
          <div class="span5">
            <h2><%= t('discussions.title') %></h2>
          </div>
          <div class="span3" style="margin-left:45px;">
            <%= link_to t('discussions.new_discussion'), new_course_discussion_path(@course), :id => 'new_discussion', :class => "btn small right" %>
          </div>
        </div>
    
        <div class="discussions">
          <% @discussions.order("created_at DESC").each do |discussion| %>
              
            <% if discussion.starter.view_status == "fantom" %>

         	 <div class="discussion row course padding-all <%= cycle('odd', 'even') %>" style="margin-left:0;">
	              <div class="span7">
	                <h3><%= link_to discussion.title, discussion %></h3>
	                <span class="author"><%= t('discussions.ago')%> <%= time_ago_in_words(discussion.created_at) %> <%= t('discussions.by')%> <%="Usuario Anónimo" %></span>
	              </div>
	              <div class="span1" style="padding-top:12px;">
	                <span class="label-tag notice course-notification" style="margin-top:2px;">
	                  <a href="<%= discussion_path(discussion) %>"><%= discussion.comments.count %> <%= image_tag("menu-discusiones.png") %></a>

	                </span>
	              </div>
	            </div>
            <% else %>
            <div class="discussion row course padding-all <%= cycle('odd', 'even') %>" style="margin-left:0;">
              <div class="span7">
                <h3><%= link_to discussion.title, discussion %></h3>
                <span class="author"><%= t('discussions.ago')%> <%= time_ago_in_words(discussion.created_at) %> <%= t('discussions.by')%> <%= link_to(discussion.starter.name, user_path(discussion.starter)) %></span>
              </div>
              <div class="span1" style="padding-top:12px;">
                <span class="label-tag notice course-notification" style="margin-top:2px;">
                  <a href="<%= discussion_path(discussion) %>"><%= discussion.comments.count %> <%= image_tag("menu-discusiones.png") %></a>
       
                </span>
              </div>
            </div>
           <% end %>
          <% end %>
        </div>

      </div>
    
      <div class="span3"style="margin:0;" >
      <%= render :partial => 'shared/adds'%>
      </div>
    </div>
    
  </div>
</div>
<%end%>