<div class="container">
<div class="content">
	<div class="row">
	  <div class="span16">
	    <ul class="breadcrumb">
	      <li><%= link_to("Dashboard", dashboard_path) %> <span class="divider">/</span></li>
	      <li><%= link_to("#{@user.first_name} #{@user.last_name}", user_path(@user)) %><span class="divider">/</span></li>
	      <li class="active"><%= "Favoritos" %></li>
	    </ul>  
	  </div>
	</div>
	
<div class ="span8">
<%= render :partial => "my_favorite_users"%>
</div>

<div class="span7">
<h1>Usuarios de la red</h1>
 <div class="well">
    <%= form_tag network_members_path, :method => 'get', :class => 'form-search right' do %>
    <%= text_field_tag :search, params[:search], :placeholder => 'Nombre', :class => 'input-medium search-query' %>
      <%= submit_tag 'Buscar usuario', :class => 'btn' %>
    <% end %>
  </div>
</br>

<% @users_network.each do |user|%>
  <%=link_to image_tag(user.avatar_file.xsmall.url), user_path(user.id), :rel => "dashboard-tip", :title => (user.name) %>
<%end%>
</div>

</div>
</div>
<%= render :partial => "shared/footer"%>
</div>
</div>

<script type="text/javascript">
  $(function(){
    setupAutoScroll();
  });
</script>
