<div class="comment body" id="<%= "comment_#{comment.id}" %>">
  <div class="row">
    <div class="span1"><%= link_to(link_to(image_tag(comment.user.avatar_file.xsmall.url)), user_path(comment.user)) %></div>
    <div class="span7">
      <h6><%= link_to comment.user.name, user_path(comment.user) %></h6>
      <blockquote>
        <p><%= comment.text %></p>
        <% if comment.assets.any? %>
        <p>
        <% comment.assets.each do |asset| %>
          <%= image_tag asset.file.thumb_url %>
          <%= link_to asset.name, asset.file.url %><br />
        <% end %>
        </p>
        <% end %>
        <small>
          <%= time_ago_in_words(comment.created_at) %>
          <% if current_user.can_destroy_comment? comment %>
              - <%= link_to t('.remove'), comment, :method => :delete, :remote => true, :confirm => t('confirm_delete'), :html => {:title => 'delete comment'} %>
          <% end %>
          <% unless Comment === comment.commentable %>
              <%= link_to t('comment'), '#', :class => "toggle_comment_box" %>
          <% end %>
        </small>
      </blockquote>
    </div>
  </div>
</div>
