<div class="span10"style="background-image:url(/assets/mano.png); height:820px; width:982px; border:none; display:block; background-repeat:no-repeat;  zoom: 0.9; position:absolute; bottom:-50px; right:20px; z-index:2;">	
<div class="span6" style=" margin-top:150px; margin-left:450px;color:#fff; width:320px; z-index:99;">

<div class="nav" style="margin-right:100px;">
<%= semantic_form_for @network do |form| %>
  <%= form.inputs do %>
    <%= form.input :name, :input_html => { :placeholder => "red"},  :label => false  %>
    <%= form.input :subdomain, :input_html => { :placeholder => "subdominio"},  :label => false %>
    <%= form.hidden_field :variante, :value => "free"%>

    <%#= form.select :variante, options_for_select([[t('.free'), "free"],[t('.pro'), "pro"],[t('.enterprise'),"enterprise"]]) %>
  <% end %>

</div>
<div class="nav" style="margin-right:-90px;">
  <%= form.semantic_fields_for :supervisors do |user| %>
</br>
    <%= user.input :first_name, :input_html => { :placeholder => "Nombre", :required => false},  :label => false %></br>
   </br> <%= user.input :last_name, :input_html => { :placeholder => "Apellidos"},  :label => false %></br>
</br>
    <%= user.input :email,:input_html => { :placeholder => "Email"},  :label => false%></br>
</br>    <%= user.input :password, :input_html => { :placeholder => "Contraseña"},  :label => false%></br>
 </br>   <%= user.input :password_confirmation, :input_html => { :placeholder => "Confirma"},  :label => false%></br>
  <% end %>
</div></br>
<div class="span3 right" style="margin-right: 90px;">
  <%= form.buttons do %>
    <%= form.submit "Crear red", :class => "btn", :button_html => {:id => :submit} %>
  <% end %>
</div>

<% end %>
</div>
</div>

