<div class="container">
  <div class="content">
    <div class="row">
      <div class="span16">
         <div class="row">
		  <div class="span3">
              <%= render :partial => "home/principal_wall_menu.html.erb"%>
          </div>
          <div class="span10 wall">           
		   	<div class="actions">
		       <%= render :partial => 'comments/form',  :locals => {:commentable => @network} %>
		     </div>
		     <div id="course_comments">
		       <div class="page">
		         <%= render :partial => 'comments/comments', :locals => {:commentable => @network, :comments => @comments} %>
		        </div>
		       </div>
          </div>
          <div class="span3" style="margin:0;">
	       <div class="content">
	       <%= render :partial => "shared/publicity" %>
	       </div>
	      </div>
	   </div>
	</div>  
  </div>
</div>
<%= render :partial => "shared/footer"%>
</div>
</div>

<script type="text/javascript">
  $(function(){
    setupAutoScroll();
  });
</script>
<% if current_user.new_old  == 0%>
   <div class="modal-backdrop.fade.in modal" style="background-color:#404040; color:#fff;">
	
   <div class="modal-header" > 
	<h3 style="color:#fff;"><center> Hola bienvenido a Cúrsame restablece tu contraseña </cursame> </h3>
   </div>
    <div class="modal-body">
	<center>
	 <%= semantic_form_for @user do |form| %>
	 <p style="color:#fff;">Ingresa y confirma tu contraseña</p>
	     <%= form.hidden_field :reset_password_token %>
         <%= form.inputs :password, :password_confirmation %> 
	</center>
	</div>
	<div class="modal-footer" style="background-color:#404040; color:#fff;">
		  
		      <%= form.hidden_field :new_old, :value => 1 %>
		        <%= form.hidden_field :user_id, :value => current_user.id%>
          <%= form.submit "Realizar cambio de contraseña", :class => "btn"%>
	 <%end%>
	</div>
   </div>
<%else%>
<%end%>