<div class="img">
	<% @imagecourse = course.course_logo_file.xxsmall.url %>
  <a href="<%= course_path(course) %>">
    <img src="<%= @imagecourse %>" rel="tip" title="<% course.name %>">
  </a>
</div>

<%= I18n.t 'notifications.discussion_added'%> <a href="<%= discussion_path(discussion) %>"><%= discussion.title %></a> 
<%= I18n.t 'notifications.for_the_course'%> <a href="<%= course_path(course) %>"><%= course.name %></a>.
<a href="<%= discussion_path(discussion) %>"  class="notification-link"><%= I18n.t('notifications.show_discussion') %> &gt;&gt;</a>
