<div class="img">
	<% @imagecourse = course.course_logo_file.xxsmall.url %>
  <a href="<%= course_path(course) %>">
   <%=image_tag(@imagecourse) %>
  </a>
</div>


<%= I18n.t 'notifications.survey_added'%> <a href="<%= survey_path(survey) %>"><%= survey.name %></a> 
<%= I18n.t 'notifications.for_the_course'%> <a href="<%= course_path(course) %>"><%= course.name %></a>.
<a href="<%= survey_path(survey) %>"  class="notification-link"><%= I18n.t('notifications.show_survey') %> &gt;&gt;</a>
