<div class="img">
	<% @imagecourse = course.course_logo_file.xxsmall.url %>
	
  <a href="<%= course_path(course) %>">
    <img src="<%= @imagecourse %>" rel="tip" title="<% course.name %>">
  </a>
</div>

<%= I18n.t 'notifications.you_where_accepted_for_course' %> <a href="<%= course_path(course) %>"><%= course.name %></a>.
