<div class="img">
	<% @imagecourse = course.course_logo_file.xxsmall.url %>
  <a href="<%= course_path(course) %>">
   <%=image_tag(@imagecourse) %>
  </a>
</div>

<%= I18n.t 'notifications.assignment_added'%> <a href="<%= assignment_path(assignment) %>"><%= assignment.name %></a> 
<%= I18n.t 'notifications.for_the_course'%> <a href="<%= course_path(course) %>"><%= course.name %></a>.
<a href="<%= assignment_path(assignment) %>" class="notification-link"><%= I18n.t('notifications.show_assignment') %> &gt;&gt;</a>
