<%= I18n.t 'notifications.your_course_request' %> "<%= course.name %>" <%= I18n.t 'notifications.was_rejected' %>.
<a href="<%= courses_path %>"  class="notification-link"><%= I18n.t('notifications.show_courses') %> &gt;&gt;</a>
