<div class="img">
  <a href="<%= user_path(student) %>">
    <img src="<%= student.avatar_file.xxsmall.url %>" rel="tip" title="<% student.name %>">
  </a>
</div>

<a href="<%= user_path(student) %>"><%= student.name %></a> <%= I18n.t('notifications.has_updated_survey_answers') %>
<a href="<%= survey_path(survey) %>"><%= survey.name %></a> <%= I18n.t('notifications.for_the_course') %> 
<a href="<%= course_path(course) %>"><%= course.name %></a>.
<a href="<%= reply_path(survey_reply) %>"><%= I18n.t('notifications.show_survey_reply') %> &gt;&gt;</a>.
