<div class="img">
  <a href="<%= user_path(user) %>">
    <img src="<%= user.avatar_file.xxsmall.url %>" rel="tip" title="<% user.name %>">
  </a>
</div>

<a href="<%= user_path(user) %>"><%= user.name %></a> <%= I18n.t('notifications.has_posted_a_comment_on_course') %> <a href="<%= wall_for_course_path(course) %>"><%= course.name %></a>.
<a href="<%= comment_path(comment) %>"  class="notification-link"><%= I18n.t('notifications.show_comment') %> &gt;&gt;</a>

