
<h1>Existing networks</h1>

<p>
<%= link_to 'New Network', new_admin_network_path %>
</p>

<div class="networks">
 <% 
	temp = [14,16,138,749,223,1245,956,107,163,46,58,56,14,8,474,24,3526,140,32,145,425,42,1452,153,645,345,235,301,728,2571,139]
	i=0
%>
  <% @networks.each do |network| %>
    <div class="network">
    <hr />
      <strong>Name:</strong> <%= link_to network.name, admin_network_path(network) %><br/>
      <strong>Subdomain:</strong> <%= network.subdomain %><br />
      <strong>Users count:</strong> <%= temp[i] %>	  
    </div>	
	<div id ="network_users<%= network.id %>" style ="width:100;height:100;"></div>
	<script type="text/javascript" charset="utf-8">
		renderUserGraph('<%= network.name %>','network_users' + <%= network.id %>,
			'Usuarios de la red','Unidades',<%=  temp[i] %> );
	</script>
	<% i = i + 1 %>
  <% end %>
</div>
