<div class="container">
  <div class="content">
    <div class="row">
      <div class="span3">
        profile partial goes here (or something like that)
      </div>

      <div class="span10">
        <h1><span>[<%= @user.role %>]</span> <%= @user %></h1>

        <p>
          <label><%= t('.about_me') %>:</label>
          <%= @user.about_me %>
        </p>

        <p style="clear:both;">
          <label><%= t('.studies') %>:</label>
          <%= @user.studies %>
        </p>

        <p style="clear:both;">
          <label><%= t('.birth_date') %>:</label>
          <%= @user.birth_date %>
        </p>

        <p style="clear:both;">
          <label><%= t('.birth_date') %>:</label>
          <%= @user.birth_date %>
        </p>

        <p style="clear:both;">
          <label><%= t('.occupation') %>:</label>
          <%= @user.occupation %>
        </p>


        <p style="clear:both;">
          <label><%= t('.social_networks') %>:</label>
          <%= @user.twitter_link %>
          <%= @user.facebook_link %>
          <%= @user.linkedin_link %>
        </p>

      </div>

      <div class="span3" style="margin:0;">
        <p>Something else here</p>
      </div>
    </div>
  </div>

  <%= render :partial => "shared/footer" %>
</div>
