<% content_for :head do %>
  <style>
    body {
      margin-top: 80px;
    }
  </style>
<% end %>

<div class="container">
  <div class="content">
    <div class="row">
      
      <div class="span3">
        
      </div>
      
      <div class="span10" style="border:0;">
        <div class="well">
          <h2><%= t('.change_password') %></h2>
          <%= semantic_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put} do |form| %>
            <%= devise_error_messages! %>
            <%= form.hidden_field :reset_password_token %>
            <%= form.inputs :password, :password_confirmation %>
            <%= form.buttons do %>
              <%= form.commit_button :label => t('.change_password_button'), :button_html => {:class => "btn", :style => "margin-left:14px;"} %>
            <% end %>
          <% end %>
          <%= render :partial => "devise/shared/links" %>
        </div>
      </div>

    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
