<div class="register-box"
style="background-color: #005C84;
background-image: linear-gradient(bottom, #63CCDF 0%, #19678B 67%);
background-image: -o-linear-gradient(bottom, #63CCDF 0%, #19678B 67%);
background-image: -moz-linear-gradient(bottom, #63CCDF 0%, #19678B 67%);
background-image: -webkit-linear-gradient(bottom, #63CCDF 0%, #19678B 67%);
background-image: -ms-linear-gradient(bottom, #63CCDF 0%, #19678B 67%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #63CCDF), color-stop(0.67, #19678B) );">

  <h1><%= t("forms.register_#{params[:controller] == 'registrations' ? role : 'student'}") %></h1>
  <%= semantic_form_for resource, :as => resource_name, :url => url do |form| %>
    <%= form.inputs :basic do %>
  <div class="login_texted0"> <%= "Email" %> </div> </br>   <%= form.input :email, :input_html => { :placeholder => t("forms.email") + " *", :class => "span4" } %>
  <div class="login_texted0"> <%= "Nombre & Apellido " %>  </div> </br>  <%= form.input :first_name, :input_html => { :placeholder => t("forms.first_name") + " *", :class => "names", :style => 'margin-right:10px;' }%>
      <%= form.input :last_name, :input_html => { :placeholder => t("forms.last_name"), :class => "names" } %>
    <div class="login_texted0">   <%= "Contraseña & confirmar contraseña" %>  </div> </br>
     <%= form.input :password, :input_html => { :placeholder => t("forms.password") + " *", :class => "span4" } %>
      <%= form.input :password_confirmation, :input_html => { :placeholder => t('forms.password_confirmation') + " *", :class => "span4" } %>
      <%= form.input :terms_of_service, :as => :boolean, :label => link_to(t('forms.terms'), terms_path, :class => "terms fancybox.ajax"), :required => true, :input_html => { :checked => true, :style => 'display:inline;' } %>
    <% end %>
    <%= form.buttons do %>
      <%= form.commit_button :button_html => {:id => :register, :class => "btn", :value => t('forms.register_btn') } %>
    <% end %>
    <% unless params[:controller] == 'registrations' %>
      <%#= link_to t('forms.register_teacher'), new_teacher_user_registration_path, :class => 'switch_user' %>
      <%= link_to "Registro de Gerentes", new_teacher_user_registration_path, :class => 'switch_user' %>
    <% else %>
      <%= link_to t('forms.register_student'), root_url , :class => 'switch_user'%>
    <% end %>
  <% end %>
</div>
