<%= render :partial => "shared/topbar" %>

<div class="container">
  <div class="register-box">
    <%= render :partial => 'form', :locals => {:resource => resource, :resource_name => resource_name, :url => registration_path(resource_name)} %>
  </div>
</div>
<%= link_to 'Registro como alumno', new_student_user_registration_path %>
<%= render :partial => "devise/shared/links" %>
<%= render :partial => "shared/footer" %>
