= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |form|
  = devise_error_messages!
  = form.inputs :basic do
    = form.input :email
    = form.input :password
    = form.input :password_confirmation
    = form.input :role, :as => :hidden, :value => params[:role] 

  = form.buttons do
    = form.commit_button

= render :partial => "devise/shared/links"
