<fieldset class="nested_models assets input no-margin inputs" data-association="assets">
  <%- form.object.assets.build %>
  <%= form.semantic_fields_for :assets do |asset| %>
    <%- record = asset.object %>
    <fieldset class="<%= record.new_record? ? :new : nil %>">
      <div class='preview'>
        <% if !record.file.blank? %>
          <%= image_tag record.file.thumb_url %>
        <% else %>
          <img /> 
        <% end %>
      </div>
      <ol>
        <%= asset.input :name, :input_html => {:class => "span4"} %>
        <%= asset.input :description, :input_html => {:class => "span4"} %>
        <%= asset.input :file, :as => :file, :input_html => {'data-upload-path' => upload_asset_path} %>
        <%= asset.input :file_cache, :as => :hidden %>
        <%= asset.input :_destroy, :as => :boolean %>
      </ol>
    </fieldset>
  <% end %>
<!-- suprimiento permisos de agregar archivos de usuarios no administradores-->
<% if current_user.role == "sepervisor" %>
  <%= link_to t('courses.add_asset'), '#', :class => 'btn small info add_record left', :style => 'display:none' %>
<%end%>
  <%= form.commit_button :label => t('forms.leave_comment'), :button_html => {:id => :submit, :class => "btn right"}, :wrapper_html => {:class=>"right"} %>
</fieldset>
<%= link_to t('comments.insert_multimedia'), 'javascript:void(0)',:rel => "tooltip", :class => 'small left', :title => "#{t('comments.tooltip')}" %>
