<div id="modal-asset-<%= asset.id %>" class="modal hide viewer" >
  <div class="modal-header">
    <a class="close" data-dismiss="modal" >&times;</a>
    <h3><%= asset.name %></h3>
  </div>
  <div class="modal-body">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="770" height="500" id="player_small" align="middle">
      <param name="allowScriptAccess" value="sameDomain">
      <param name="allowFullScreen" value="false">
      <param name="movie" value="<%= asset.file.url%>">
      <param name="quality" value="high">
      <param name="wmode" value="transparent">
      <param name="bgcolor" value="#ffffff">
      <embed src="<%= asset.file.url%>" quality="high" wmode="transparent" bgcolor="#ffffff" width="770" height="500" name="player_small" align="middle" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
    </object>

  </div>
  <div class="modal-footer">
    <!-- <a href="#" class="btn danger" data-dismiss="modal" ><%= t('close')%></a> -->
	<%= link_to t('download'), asset.file.url , :class =>'btn info'%>
  </div>
</div>