<div id="modal-asset-<%= asset.id %>" class="modal hide viewer" >
  <div class="modal-header">
    <a class="close" data-dismiss="modal" >&times;</a>
    <h3><%= asset.name %></h3>
  </div>
  <div class="modal-body">
    <object width="770px" height="500px" data="<%= asset.file.url%>" type="application/x-shockwave-flash" >

  </div>
  <div class="modal-footer">
    <!-- <a href="#" class="btn danger" data-dismiss="modal" ><%= t('close')%></a> -->
	<%= link_to t('download'), asset.file.url , :class =>'btn info'%>
  </div>
</div>