<div class="topbar">
  <div class="fill">
    <div class="container">
      <div class="logo-container">
        <%= link_to image_tag("logo.png"), root_path, :class => "brand" %>
      </div>
      <form class="pull-left" action="">
        <input type="text" placeholder="<%= t('shared.toolbar.search') %>" />
      </form>
      
      <ul class="nav">
        <li class="active"><%= link_to('Inicio', root_path) %></li>
        <li><%= link_to 'Perfil', current_user %></li>
        <li><a href="#">Bandeja de Entrada</a></li>
        <li><%= link_to t('.logout'), destroy_user_session_path, :method => :delete %></li>
      </ul>

      <ul class="nav secondary-nav">
        <li class="dropdown">
          <%= link_to current_user.first_name, "#", :class => "dropdown-toggle" %>
          <ul class="dropdown-menu">
            <li><a href="#">Secondary link</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><%= link_to t('.logout'), destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</div>
