<div class="topbar">
  <div class="fill" style="background-color: #005C84">
    <div class="container">
      <div class="logo-container">
        <%= link_to image_tag("logo2.png"), root_path, :class => "brand" %>
      </div>
      
       
       
        <%= tabs_tag :open_tabs => { :class => "nav" } do |tab| %>
        <%= tab.principal_wall t('dashboard.start'), root_path %> 
        <%= tab.profile t('dashboard.profile'), current_user %>    
        <%= tab.dashboard t('dashboard.propiety'), network_members_path %>
        <%end%>
                 
      <ul class="nav secondary-nav">
        <li class="dropdown">
          <%= link_to "#{current_user.first_name}" + " #{current_user.last_name}", "#", :class => "dropdown-toggle"%>
          <ul class="dropdown-menu" style="background-color: #005C84">
            <li><%= link_to t('shared.toolbar.settings'), settings_path %></li>
            <li><%= link_to t('.soporte y sugerencias'), soporte_path %></li>
            <li class="divider"></li>
            <li><%= link_to t('.logout'), destroy_user_session_path, :method => :delete %></li>           
           </ul>
        </li>
      </ul>
      
    </div>
  </div>
</div>
<script type="text/javascript">
/*!function( $ ){
  $.fn.dropdown = function ( selector ) {
    return this.each(function () {
      $(this).delegate(selector || d, 'click', function (e) {
        var li = $(this).parent('li')
          , isActive = li.hasClass('open')
        clearMenus()
        !isActive && li.toggleClass('open')
        return false
      })
    })
  }

  var d = 'a.menu, .dropdown-toggle'

  function clearMenus() {
    $(d).parent('li').removeClass('open')
  }

  $(function () {
    $('html').bind("click", clearMenus)
    $('body').dropdown()
  })

}( window.jQuery || window.ender );*/

  $(function(){
	$(".dropdown-toggle").dropdown()
  });
</script>
