<%= form_for(@notificaciones_admin_actualouse) do |f| %>
   <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content,:rows => 8, :cols => 45 %>
  </div>
  <div class="field">
    <%= f.label :link_video %><br />
    <%= f.text_field :link_video %>
  </div>
  <div class="actions">
    <%= f.submit "crear notificación", :class => "btn" %>
  </div>
<% end %>

<% @notificaciones_admin_actualice.reverse.each do |actualice| %>
<table>
	<tr>
	<th>Titulo</th>
	<th>Content</th>
	<th>Video</th>
	<th>Accciones</th>
	</tr>
<tr>
<td><%= actualice.title %></td>
<td><%= actualice.content%></td>
<td><%= actualice.link_video%></td>
 <td><%= link_to 'Destroy', actualice, confirm: 'Estas seguro de eliminar la notificación?', method: :delete, :class => "btn danger" %></td>
</tr>
</table>
<%end%>
