<script>
/* Click para aparecer desplegable*/
$(document).ready(function() {       
   $("#desplegar").click(function () {
	  
        $("#notificaciones-admin").fadeToggle("slow", "linear");
     });

  });

</script>

<div class="span16" style="margin:0px; margin-bottom:5px;">

 <div class="span15" style="
	opacity:1;
	  filter:alpha(opacity=60); background-image: linear-gradient(bottom, rgb(40,51,50) 23%, rgb(66,77,76) 68%);
	

	background-image: linear-gradient(bottom, rgb(33,164,173) 12%, rgb(14,160,173) 3%, rgb(6,125,143) 82%);
	background-image: -o-linear-gradient(bottom, rgb(33,164,173) 12%, rgb(14,160,173) 3%, rgb(6,125,143) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(33,164,173) 12%, rgb(14,160,173) 3%, rgb(6,125,143) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(33,164,173) 12%, rgb(14,160,173) 3%, rgb(6,125,143) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(33,164,173) 12%, rgb(14,160,173) 3%, rgb(6,125,143) 82%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(33,164,173)),
		color-stop(0.03, rgb(14,160,173)),
		color-stop(0.82, rgb(6,125,143))
	);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-top:5px;
margin-left:30px;margin-bottom:5px;">
<div class="text" style="color:#fff;opacity:0.9;
  filter:alpha(opacity=60); margin-left:9px;">
 <b><%= @notificaciones_admin_actualice_last.title if @notificaciones_admin_actualice.count > 0 %>:<div class="btn right" id="desplegar">
	<%= image_tag("desplegar.png")%>
</div></b>
 <div class="page"><%= @notificaciones_admin_actualice_last.content if @notificaciones_admin_actualice.count > 0 %></div>
 
 </div>
</div>
<div class="span15" style="display:none; height:650px; overflow:auto;" id="notificaciones-admin"> 
	<% @notificaciones_admin_actualice.each do |actualice|%>
	 <div class="span14">
	 <div class="span7" style="opacity:0.4;
	  filter:alpha(opacity=60); background-image: linear-gradient(bottom, rgb(40,51,50) 23%, rgb(66,77,76) 68%);
	background-image: -o-linear-gradient(bottom, rgb(40,51,50) 23%, rgb(66,77,76) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(40,51,50) 23%, rgb(66,77,76) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(40,51,50) 23%, rgb(66,77,76) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(40,51,50) 23%, rgb(66,77,76) 68%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.23, rgb(40,51,50)),
		color-stop(0.68, rgb(66,77,76))
	); 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	 margin-top:5px
	 ">
	  <div class="text" style="color:#fff;opacity:0.9;
	  filter:alpha(opacity=60); margin-left:9px;">
	   <h4 style="color:#fff;"><%=actualice.title%>:<div class="btn right" id="notificate-open<%=actualice.id%>"><%= image_tag("notificate-open.png")%></div></h4>
	  </div>
	 </div>	
	   <div class="span5 well" style="display:none; height:70px; overflow:auto;" id="contenidos-notificaciones<%=actualice.id%>">
        <div class="page"><%= actualice.content%></div>
	 </div>
	</div>
	<script>
	$(document).ready(function() {       
	   $("#notificate-open<%=actualice.id%>").click(function () {

	        $("#contenidos-notificaciones<%=actualice.id%>").fadeToggle("slow", "linear");
	     });

	  });
	</script>
   	<%end%> 	 
</div>