	<div class="underline">
		<%= link_to image_tag(current_user.avatar_file.small.url), current_user%>
	</div>
    <h2>Menú Principal</h2>
     <div class="line"></div>
	<%= tabs_tag(:builder => MenuTabBuilder, :open_tabs => { :class => "left-nav-main-ul" }) do |tab| %>
	    <%= tab.course "Manejo de campañas", dashboard_path, :class => "info" %>
	    <%= tab.assignments "Mis usuarios favoritos", my_favorite_users_path, :class => "favoritos" %>
	 <% end %>
	
	<% @user.favorites.each do |user_favorites| %>
	   <%=link_to image_tag(user_favorites.avatar), user_path(user_favorites.user_favorite_id), :rel => "dashboard-tip", :title => (user_favorites.name) %>
	<%end%>
   
	<%= render :partial => "home/members" %>
 