<% if current_user.view_status =="fantom"%>
<div class="container">
  <div class="content">
	<center>
<%= image_tag("suspendido.png")%>
    </center>
  </div>
</div>
<%else%>
<div class="container">
  <div class="content">
    <div class="row">
      <div class="span16">
        <ul class="breadcrumb">
          <li>Dashboard</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span-one-third verticle_line">
        <div class="underline">
          <div class="row">
            <div class="span3">
              <h2><%= t('courses.my_courses') %></h2>
            </div>
            <div class="span2 padding-top">
	         
	         <!-- <div class="btn" data-toggle="modal" href="#oldCourses" style="margin:2px;"><%= "Anteriores" %></div></br> -->
              <% if current_user.role == "sepervisor" %>
               <!-- if current_user.teacher? metodo usado con anterioridad-->
                  <div style="margin:2px;" ><%= link_to("+ " + t('courses.create_course'), new_course_path, :class => "btn info small") %></div>    
              <% end %>
            </div>
          </div>
        </div>
        <% unless @courses.blank? %>
            <% @courses.each do |course| %>
                 <% if course.status == "finish"%>
                 <%else%>
                <div class="course-detail <%= cycle("odd", "even") %>">
                  <div class="span4">
                    <% if course.course_logo_file.xxsmall.url %>
                        <div class="left" style="padding-right: 8px;">
                          <%= link_to image_tag(course.course_logo_file.xxsmall.url), course_path(course) %>
                        </div>
                    <% end %>
                    <div class="left">
                      <h4><%= link_to(course.name, course_path(course)) %></h4>

                      <p><%= course.reference %></p>
                    </div>
                  </div>
                  <div class="span1">
                    <span class="label-tag notice course-notification"><a href="<%= course_path(course) %>">2 <%= image_tag("notification.png") %></a></span>
                  </div>
                </div>
                <%end%>
            <% end %>
        <% else %>
            <% if current_user.teacher? %>
                <p>Te pedimos crees los cursos que impartes.</p>
            <% else %>
                <p>Te invitamos a navegar entre los cursos disponibles y solicites participar en los que te
                  corresponde.</p>
            <% end %>
        <% end %>
        <div class="all-courses"><%= link_to(t('dashboard.view_all_courses'), courses_path, :class => "btn") %></div>
        <%= render :partial => "members" %>
      </div>
      <div class="span-two-thirds">
	              <%= link_to image_tag("kontact-date.png"),calendar_path, :class => "btn info small right",:rel => "dashboard-tip", :title => "Ir a mi calendario de actividades"%>
               <div class="row with line">
                <div class="dashboard-box">
                  <div class="underline padding-top">
                    <h2><%= t('notifications.header') %> </h2>
		             
                  </div>
                  <div id="notifications">
                    <% @notifications.each do |notification| %>
                        <div class='notification'>
                          <div class="date-published"><%= time_ago_in_words(notification.created_at) %></div>
                          <%= raw notification.text %>
                        </div>
                    <% end %>
                    <%= paginate @notifications %>
                  </div>
                </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
  <%= render :partial => "shared/footer" %>
</div>
<%end%>

<div class="modal hide" id="oldCourses" style="display:none;">
 <div class="modal-header">
   <a class="close" data-dismiss="modal" >×</a>
   <h3>Mis cursos que han finalizado</h3>
   </p>   
 </div>
 <div class="modal-body">     
 <div id="activities_calendar_body">
	<div id="down_modal_course" style="overflow: auto; height: 400px;">
		<% @courses.each do |course| %>
          <% if course.status == "finish"%>
         <div class="course-detail <%= cycle("odd", "even") %>">
           <div class="span7">
             <% if course.course_logo_file.xxsmall.url %>
                 <div class="left" style="padding-right: 8px;">
                   <%= link_to image_tag(course.course_logo_file.xxsmall.url), course_path(course) %>
                 </div>
             <% end %>
             <div class="left">
               <h4><%= link_to(course.name, course_path(course)) %></h4>
             </div>
           </div>
           <div class="span1">
             <span class="label-tag notice course-notification"><a href="<%= course_path(course) %>">2 <%= image_tag("notification.png") %></a></span>
           </div>
         </div>
         <%end%>
     <% end %>
   </div>
 </div>
</div>
</div>
<% if current_user.new_old  == 0%>
   <div class="modal-backdrop.fade.in modal" style="background-color:#404040; color:#fff;">
	
   <div class="modal-header" > 
	<h3 style="color:#fff;"><center> Hola bienvenido a Cúrsame restablece tu contraseña </cursame> </h3>
   </div>
    <div class="modal-body">
	<center>
	 <%= semantic_form_for @user do |form| %>
	     <%= form.hidden_field :reset_password_token %>
         <%= form.inputs :password, :password_confirmation %>
         <%= form.submit "Realizar cambio de contraseña", :class => "btn"%>
     <%end%>
	</center>
	</div>
	<div class="modal-footer" style="background-color:#404040; color:#fff;">
		  <%= semantic_form_for @new_users_change_type do |n|%>
		      <%= n.hidden_field :new_old, :value => 1 %>
		        <%= n.hidden_field :user_id, :value => current_user.id%>
		      <%= n.submit "ya no deseo ver el video", :class => "btn danger"%>
		  <%end%>
	</div>
   </div>
<%else%>
<%end%>