<div class="container">
 <div class="content">
  <div class="span10">
	</br>
	</br>
	</br>
<h2><%= t('supervisor.shared.admin_menu.new_user') %></h2>
<%= semantic_form_for @user, :url => users_path, :method => :post  do |form| %>
  <%= form.inputs :basic do %>
    <%= form.input :email, :input_html => { :placeholder => t('forms.email') + " *", :class => "span4" } %>
    <%= form.input :first_name, :input_html => { :placeholder => t('forms.first_name') + " *", :class => "span4", :style => 'margin-right:10px;' }%>
    <%= form.input :last_name, :input_html => { :placeholder => t('forms.last_name'), :class => "span4" } %>
    <%= form.hidden_field :role, :value => "admin" %>
     <div class="login_texted0">   <%= "Contraseña & confirmar contraseña" %>  </div> </br>
	     <%= form.input :password, :input_html => { :placeholder => t("forms.password") + " *", :class => "span4" } %>
	      <%= form.input :password_confirmation, :input_html => { :placeholder => t('forms.password_confirmation') + " *", :class => "span4" } %>

    <%= form.hidden_field :status, :value => "active" %>
    <%= form.input :terms_of_service, :as => :hidden, :input_html => { :value => "1" } %>
  <% end %>
  <%= form.buttons :class => "fieldset-admin" do %>
    <%= form.commit_button :label => "Registrar usuario", :button_html => {:id => :submit, :class => 'btn right'} %>
  <% end %>
   <span class="fieldset-admin-txt"><%= link_to("Cancelar", supervisor_new_user_path) %></span>
<% end %>
  </div>
</div>

</div>