<div class="container">
<h1><%= link_to "Nosotros", nosotros_path %></h1>

<div class="span16">
<div class="span6">
	<h3>Equipo</h3>
	<p>Cúrsame cuenta con un equipo ínter disciplinario de personas que intentan mejorar al mundo mediante el uso de diversas tecnologías.</p>
	<p><b>Cúrsame es una idea de José Alfredo Reyes de Antuñano y José León Rangel Reyes sus fundadores.</b></p>

<%= image_tag("nosotros/cursame.png")%>
</div>
<div class="span8">
<div class="well span6">
<div class="span3">
<p><b>José Alfredo Reyes </b></p>
<p>Economista y Programador web</p>
</div>
<div class="span2">
<%= image_tag("nosotros/alfredo.jpg")%>
</div>
</div>
<div class="well span6">
<div class="span3">
<p><b>José Leon Rangel Reyes</b></p>
<p>Diseñador Gráfico</p> 
</div> 
<div class="span2">
<%= image_tag("nosotros/leon.jpg")%>
</div>
</div>
<div class="well span6">
<div class="span3">
<p><b>José Ignacio López Torres </b></p>
<p>Lic.En ciencias de la comunicación</p>
</div>
<div class="span2"> 
<%= image_tag("nosotros/ignacio.png")%> 
</div>
</div>
<div class="well span6">
<div class="span3">
<p><b>José Armando Gonzalez Lopez </b></p>
<p>Ing.En sistemas</p>
</div>  
<div class="span2">
<%= image_tag("nosotros/armando.jpg")%>
</div>  
</div>
<div class="well span6">
<div class="span3">		
<p><b>Gabriel Velarde Reyes </b></p>
<p>Economista</p>
</div>
<div class="span2">
<%= image_tag("nosotros/gabriel.png")%>
</div>
</div>	
<div class="well span6">
<div class="span3">	
<p><b>Rogelio Apiquian Guitart </b></p>
<p> Dr. En Psquiatria</p>
</div>
<div class="span2">
<%= image_tag("nosotros/rogelio.png")%>
</div>
</div>
</div>
</div>
</div>
<div>
  <%= render :partial => "shared/footer" %>
</div>
