<div class="container">
  <div class="content">

    <div class="row">
      <div class="span16">
        <ul class="breadcrumb">
          <li><%= link_to("Dashboard", dashboard_path) %> <span class="divider">/</span></li>
          <li><%= link_to(t('courses.courses'), courses_path) %> <span class="divider">/</span></li>
          <li><%= link_to(@course.name, @course) %> <span class="divider">/</span></li>
          <li><%= link_to(Survey.model_name.human(:count => :many), course_surveys_path(@course)) %> <span class="divider">/</span></li>
          <li><%= link_to @survey.name, @survey %> <span class="divider">/</span></li>
          <li class="active"><%= t('surveys.show.view_answers') %></li>
        </ul>
      </div>
    </div>

    <div class="row">

      <div class="span3">
        <%= render :partial => "courses/course_menu" %>
        <%= render :partial => "courses/members_menu" %>
      </div>

      <div class="span10 surveys">
        <div class="row">
          <div class="span9">
            <h2 class="titles"><%= t('.header') %>: <%= @survey.name %></h2>
            <div class="public-course"><%= t('.course') %>: <%= @course.name %></div>
          </div>
        </div>

        <div class="row with line">
          <div class="span6 description no-margin">
            <p><%= t('courses.surveys.value') %>: <b><%= @survey.value %></b> -
            <%= t('courses.surveys.period') %>: <b><%= @survey.period %></b> -
            <%= t('courses.surveys.date_time') %>: <b><%= l @survey.due_to, :format => :short %></b></p>
          </div>
        </div>

        <div class="row with line">
          <div class="description"><%= t('courses.surveys.description') %></div>
          <div class="expander"><p><%= @survey.description %></p></div>
        </div>

        <div class="questions">
          <h2><%= t('.answers') %></h2>
          <% if params[:controller] == 'students/survey_replies' %>
            <% if !@survey.expired? %>
              <%= link_to t('surveys.show.update_answers'), edit_survey_reply_path(@survey), :class => 'btn info small' %>
            <% end %>
          <% else %>
            <div class="user">
              <%= link_to image_tag(@survey_reply.user.avatar_file.xsmall.url), @survey_reply.user %>
              <%= link_to @survey_reply.user.name, @survey_reply.user %>
            </div>
          <% end %>
          
          <% if @reveal_answers %>
            <div>
              <%= t('survey_reply.score') %>: <%= "%.2f" % @survey_reply.score %> -
              <%= t('survey_reply.updated') %>: <%= l(@survey_reply.updated_at, :format => :short) %> - 
            </div>
          <% end %>

          <%= semantic_form_for @survey_reply, :url => nil do |form| %>
            <%= render :partial => 'students/survey_replies/fields', :locals => {:form => form} %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

