<div class="container">
 <div class="span10">
<h3>1.-Importancia del calendario</h3>
<p>El calendario tiene su importancia en el manejo temporal correcto de actividades de actividades, lo cual permite mejorar y efectivizar, los tiempos de trabajo y de comprensión necesarios para un <i>"miembro dentro de la aplicación"</i>, es imprescindible resaltar que cada persona debe calcular sus tiempos finales con respecto al calendario</p>

<h3>2.-Funcionamiento del calendario en Cúrsame </h3>

<p> El calendario tiene tres funciones particulares:</p>
</br>
<div class="span9 right">
</br>
	<p>
     1.- Agendar automáticamente el día en el que espira una tarea o trabajo, lo cual se ve reflejado con la imagen <%= image_tag("menu-tareas.png")%>.
    </p>
</br>
    <p>
     2.- Agendar automáticamente el día final para contestar un cuestionario, lo cual se ve reflejado con la imagen <%= image_tag("menu-examen.png")%>.
    </p>
</br>
    <p>
    3.- Agendar actividades creadas por el usuario las cuales sean de importancia para él, lo cual se ve reflejado con la imagen <%= image_tag("menu-calendario.png")%>.
    </p>
</br>
</div>
<div class="span10">
<h3>3.-Propiedades del calendario</h3>

 <p>El calendario tiene una estructura en la cual se muestran las actividades mes con mes, el usuario tiene la capacidad de crear actividades dentro de él lo cual le permite agendar acciones importantes para él, la estructura del calendario es de la siguiente forma:</p>
</br>
<%= image_tag("help/intro/calendario-introduccion.png")%>
</br>
</br>
<i> Los botones dentro del calendario muestran el crear actividades y las actividades que tu has creado mas recientes, tiempo y hora a ejecutar:</i>
</br>
<%= image_tag("help/calendario/calendario-crear-actividad.png")%></br>
<%= image_tag("help/calendario/calendario-actividades-recientes.png")%>
</div>
 </div>
</div>

