<div class="container">
 <div class="span10">
	<h3>¿Qué es una discusión?</h3>
	<p>Llamamos “Discusión” al espacio que tendrás dentro de tú curso creado en Cúrsame, en dicho lugar podrás debatir e interactuar de manera didáctica con los miembros de tú comunidad, debido a que el objetivo en especial de esta herramienta, es que todos los integrantes viertan comentarios acerca de un tema en específico que se puso en “Discusión”, es decir, tendrás la oportunidad de conocer las opiniones de tú comunidad de una forma rápida, y podrás incrementar tú acervo personal debido a ésta interacción.</p>

	<h3>¿Cómo crear una discusión?</h3>
	
	<p>1.- Estando en la interfaz del curso creado, nos dirigimos al botón “Discusiones”</p>
	<center><%= image_tag("help/discusiones/discusiones.png")%></center></br>
	
	<p>2.- Dado éste paso damos “click” en “nueva discusión”.</p>
		<center><%= image_tag("help/discusiones/index.png")%></center></br>
	<p>3.- Aparecerá un menú donde le darás un nombre específico a la discusión (este nombre, es recomendable que vaya con relación directa al tema a tratar, debido a que será una identificación muy importante para los usuarios).</p>
	  <center><%= image_tag("help/discusiones/nueva.png")%></center></br>
	<p>4.- Podrás hacer una descripción sobre el tema que quieres “debatir” con tú comunidad, para adentrarlos a la temática que discutirán.</p>
	  
	<p>5.- Tendrás la oportunidad de apoyar tu tema de discusión con apoyos visuales, en cualquier forma de archivo, a través del botón “añadir archivo”.</p>
		
<p>	De igual manera como profesor, y administrador de tus cursos, tienes la libertad de editar tu discusión creada, a modo, que, si por algún error, no querías que apareciera un tema, o no era lo que tu deseabas, realizar, puedes editar la discusión.</p>
<p>	Cuando tú comunidad haya empezado a interactuar sobre el tema creado, puedes unirte de manera instantánea, de las siguientes formas: hacer un comentario independiente, comentar los “comentarios” directamente, o usar el botón “Recomendar”, dándole así un apoyo a ese comentario que realizaron.</p>

	<h3>¿Cómo responder una discusión?</h3>
	
<p>	Cuando entres al perfil del curso al que perteneces, podrás identificar que existe una nueva discusión creada, por algún miembro de tú comunidad (profesor).</p>

<p>	Dando click en la discusión creada podrás identificar el tema que se trata de abordar, a partir de ahí podrás opinar de manera personal sobre el tema propuesto, dirigiéndote a el botón “dejar comentario” e inmediatamente empezará la interacción sobre ese tema en específico.</p>
<center><%= image_tag("help/discusiones/final1.png")%></center></br>
<center><%= image_tag("help/discusiones/final2.png")%></center></br>
<p>	Cuentas con un botón llamado “recomendar” , con el cual, le darás un voto de confianza a un comentario hecho sobre el tema, con el cual te identificas o fue de tu agrado</p>
<center><%= image_tag("help/discusiones/recomendar.png")%></center></br>


	
	
 </div>
</div>
