<div class="container">
<div class="span10">
<h3> 1.- Definición de Cúrsame </h3>
 <p> Cúrsame es  el resultado combinar las redes sociales con los Sistemas de Manejo de Aprendizaje  lo cual nos da como resultado un SLS (Social Learning Sistem) “Sistema de Aprendizaje Social” por sus siglas en ingles.</p>
<h3> 2.- Social Learning Sistem </h3>
 <p>El término SLS se refiere esencialmente a un tipo de aprendizaje en el cual el usuario no solo  adquiere información sino que crea y enriquece la misma mediante una comunidad (Fenómeno de redes  sociales), lo cual crea canales de aprendizaje múltiples con distintos niveles de interacción. </p>

 <p>Cúrsame esta enfocado a la mejora del conocimiento, porque la información ya existe, el problema es como usarla, y parte de usarla es facilitarla, entenderla, diluirla y mejorarla, lo cual lleva al ser humano a mejorar en los procesos de comprensión y creación en su hacer cotidiano.</p>

<h3> 3.- Herramientas actuales </h3>

<b> Cursos </b></br>

<p>Cada curso tiene su propio perfil, en donde los miembros pueden interactuar y aprender, en el se encuentran las herramientas necesarias para llevar con éxito los cursos
(información del curso, archivos, muro, tareas, discusiones, cuestionarios, entre otras).</p>

<%= image_tag("help/intro/perfil1-intro.png")%>

<%= image_tag("help/intro/cursos-intro.png")%>

<b> Tareas </b></br>

<p>Los profesores pueden dejar tareas, adjuntar archivos y presentaciones, Así mismo cada tarea cuenta con su propia discusión en la que todos los miembros pueden participar.
Por último, los alumnos pueden contestar la tarea y los profesores recibirla y calificarla.</p>

<%= image_tag("help/intro/tareas-intro.png")%>

<b> Muro </b></br>

<p>El muro es el lugar donde las personas interactuan de manera directa en el grupo.</p>

<%= image_tag("help/intro/muro-intro.png")%>

<b> Cuestionarios </b></br>

<p>Los profesores pueden dejar cuestionarios para evaluar que las actividades hayan sido asimiladas correctamente.</p>

<%= image_tag("help/intro/cuestionarios-intro.png")%>

<b> Calificaciones </b></br>

<p>Es donde se muestan las evaluaciones de manera numérica y gráfica del comportamiento de un grupo en sus actividades.</p>

<%= image_tag("help/intro/calificaciones-info.png")%>

<%= image_tag("help/intro/grafica-comportamiento.png")%>

<%= image_tag("help/intro/graficatareas.png")%>

<b> Discusiones </b></br>

<p>En las discusiones se pueden debatir ideas, hacer y contestar preguntas, así como compartir materiales nuevos. En ellas participan todos los miembros de un curso.</p>

<b> Notificaciones y calendario </b></br>

<p>Los usuarios tienen en un sólo lugar toda la información, mensajes y notificaciones de sus cursos, revisar su calendario de actividades, compañeros y profesores.</p>

<%= image_tag("help/intro/notificaciones-introduccion.png")%></br>

<%= image_tag("help/intro/calendario-introduccion.png")%></br>

<b> Perfil </b></br>

<p>Cada usuario tiene un perfil en la red, con lo cual puede interactuar con compañeros, profesores, directivos y sus amigos dentro de la institución.</p>

<%= image_tag("help/intro/perfil-intro.png")%></br>
</div>
</div>