<script>
/* Click para aparecer desplegable*/
$(document).ready(function() {       
   $("#desplegable-tutoriales").click(function () {
	  
        $("#desplegable-interno").fadeToggle("slow", "linear");
     });

  });
</script>
<div id="tutorial-all" style="width:175px; margin-left:4px; margin-top:-10px;">
	
	<div class="tutorial-header">
		<div class="title">
		<center>
		<h3>Tutoriales de uso</h3>
	    </div>	
		<div data-toggle="modal" href="#primer_tutorial" style="margin:2px;cursor:pointer;"><%=image_tag("video.png")%>
		</div>
		</center>
	</div>
	
	
<div id="desplegable-interno" style="overflow:auto; height:190px; display:none;">
	
<% if @tutoriales.count < 0 %>
<%else%>
<% @tutoriales.each do |tutoriale| %>

    <div class="row with line" style="margin:0px; padding:0px;">
<div class="user padding-all <%= cycle('odd', 'even') %>">
	<div class="interno" style="height:20px; cursor:pointer;">
      <a> <div data-toggle="modal" href="#sub_tutorials<%=tutoriale.id%>" style="margin:2px;"><%=tutoriale.title %></a>
	   </div>
   </div>
</div>
</div>
<!--estos modal sirven para exponer cada uno del os tutoriales, el segundo modal sirve para el tutorial principal de introducción a cúrsame--> 

<div class="modal hide" id="sub_tutorials<%= tutoriale.id %>" style="display:none;">
 <div class="modal-header">
   <a class="close" data-dismiss="modal" >×</a>
   <h3><%= tutoriale.title %></h3>
   </p>   
 </div>
 <div class="modal-body">
 <center>
	<object width="520" height="315"><param name="movie"value="<%= tutoriale.link %>"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="<%= tutoriale.link %>" type="application/x-shockwave-flash" width="520" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
 </center>
 </div>
<div class="modal-footer">
	<%="Descripción: #{tutoriale.description}"%>
</div>
</div>
<% end %>
<% end %>
</div>
</div>

<div id="desplegable-tutoriales" style="cursor:pointer;">
	<center>
	<a>Mostrar Todos</a>
	</center>
</div>
 <div style="margin-left:6px;">
	<%= render :partial => "banners/dinamic"%>
 </div>

<div class="modal hide" id="primer_tutorial" style="display:none;">
 <div class="modal-header">
   <a class="close" data-dismiss="modal" >×</a>
   <h3>Introducción</h3>
   </p>   
 </div>
 <div class="modal-body">
 <center>
<object width="520" height="315"><param name="movie" value="http://www.youtube.com/v/BrG-0QFv57Q?version=3&amp;hl=es_ES&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/BrG-0QFv57Q?version=3&amp;hl=es_ES&amp;rel=0" type="application/x-shockwave-flash" width="520" height="315" allowscriptaccess="always" allowfullscreen="true"></embed></object>
 </center>
 </div>
</div>
