<%= render :partial => 'surveys/survey', :locals => {:survey => @survey} %>

<div class="user">
  <%= link_to image_tag(@survey_reply.user.avatar_file.xsmall.url), @survey_reply.user %>
  <%= link_to @survey_reply.user.name, @survey_reply.user %>
</div>

<div>
  <%= t('survey_reply.score') %>: <%= "%.2f" % @survey_reply.score %> -
  <%= t('survey_reply.updated') %>: <%= l(@survey_reply.updated_at, :format => :short) %> - 
</div>

<%= semantic_form_for @survey_reply, :url => nil do |form| %>
  <%= render :partial => 'students/survey_replies/fields', :locals => {:form => form} %>
<% end %>
