<%= tabs_tag(:builder => MenuTabBuilder, :open_tabs => {:class => "menu"}) do |tab| %>
  <li class="top"><%= t('.admin') %></li>
  <%= tab.dashboard t('.dashboard'), supervisor_dashboard_path %>
  <%= tab.configuration t('.configuration'), edit_supervisor_network_path %>
  <%= tab.courses t('.courses'), courses_path %>
  <%= tab.supervisors t('.supervisors'), supervisor_supervisors_path %>
  <%= teachers_notification_tab(@pending_teachers_total, tab) %>
  <%= tab.students t('.students'), supervisor_students_path %>
  <%= tab.new_user t('.new_user'), supervisor_new_user_path %>
   <li><%= link_to(t('.reports'), "#") %></li>
   <li><%= link_to(t('.social_network'), "#") %></li>
   <li><%= link_to(t('.activities'), "#") %></li>
   <li><%= link_to(t('.reports_of_fail'), "#") %></li>
<% end %>
