<%= tabs_tag(:builder => MenuTabBuilder, :open_tabs => {:class => "menu"}) do |tab| %>
  <li class="top"><%= t('.admin') %></li>
  <%= tab.dashboard t('.dashboard'), supervisor_dashboard_path %>
  <%= tab.configuration t('.configuration'), edit_supervisor_network_path %>
  <%= tab.courses t('.courses'), courses_path %>
  <%= teachers_notification_tab(@pending_teachers_total, tab) %>
  <%= tab.students t('.students'), supervisor_students_path %>
  <li><%= link_to(t('.reports'), "#") %></li>
<% end %>
