<%= tabs_tag(:builder => MenuTabBuilder) do |tab| %>
  <li class="top"><%= t('supervisor.dashboard.admin') %></li>
  <%= tab.dashboard t('.dashboard'), supervisor_dashboard_path %>
  <%= tab.configuration t('.configuration'), edit_supervisor_network_path %>
  <%= tab.courses t('.courses'), courses_path %>
  <%= tab.teachers t('.teachers'), supervisor_teachers_path %>
  <%= tab.students t('.students'), supervisor_students_path %>
  <%= tab.pending_approvals t('.pending_approvals'), supervisor_pending_approvals_path %>
  <li><%= link_to(t('supervisor.dashboard.reports'), "#") %></li>
<% end %>