<div class="container">
<center>
<h2>PARA BRINDARTE UN MEJOR SERVICIO SELECCIONA OTRO NAVEGADOR</h2>
<%if browser_active=="Internet Explorer" %>
  <p>La versión de Internet Explorer que estás utilizando, no cumple con los requerimientos básicos para utilizar correctamente Cúrsame, por favor actualiza a la versión más reciente.</p> 

 <h3><%= link_to " Descarga Internet Explorer en versión 9.0 o 10.0", "http://ie.microsoft.com/testdrive/Info/Downloads/Default.html", :target => "_blank" %> 
 </h3>
 <b>
  <%= "Navegador #{ browser_active } / Versión #{browser_version}"%>
 </b>
<%else%>
</br>
<h3><%= "Navegador #{ browser_active } / Versión #{browser_version}"%></h3>
<%end%>
<h2>
<%= link_to "Más información sobre el tema >>", browser_error_explain_path%>
</h2>
<h2>Selecciona el navegador que deseas descargar</h2></br>
<a class="btn" href='http://www.mozilla.org/es-MX/firefox/new/' style="cursor:pointer;" target="_blank" >
    MOZILLA FIREFOX</br><%= image_tag("firefox.png")%>
</a>
<a class="btn" href='https://www.google.com/intl/es/chrome/browser/?hl=es' style="cursor:pointer;" target="_blank" >
    GOOGLE CHROME</br><%= image_tag("chrome.png")%>
</a>
</center>
</div>