<div class="container">
    <h1>¿Que es un browser y como funciona?</h1>
        <p>Un navegador o navegador web (del inglés, web browser) es una aplicación que opera a través de Internet, interpretando la información de archivos y sitios web para que estos puedan ser leídos (ya se encuentre ésta alojada en un servidor dentro de la World Wide Web o en un servidor local).  <%= link_to "Leer más ...", "http://es.wikipedia.org/wiki/Navegador_web", :target => "_blank"%></p>
        
    <h1>¿Compatibilidad en un browser? </h1>  
    
        <p> La compatibilidad es un tema muy tratado actualmente, los browsers actualizados buscan soportar las tecnologías de punta como <%= link_to "HTML5", "http://es.wikipedia.org/wiki/HTML5", :target => "_blank" %> y <%= link_to "CSS3", "http://es.wikipedia.org/wiki/CSS3#CSS_3", :target => "_blank" %>, estas tecnologías que permiten una mejor experiencia de usuario han permitido una evolución en los servicios de los browsers que casi en su mayoría han logrado su objetivo de estar en la punta de la tecnología, entre los browsers de principales destacan <%= link_to "Chrome", "https://www.google.com/intl/es/chrome/browser/?hl=es", :target => "_blank"%> de la empresa Google que es el mejor navegador del mercado junto con  <%= link_to "Mozilla Firefox", "http://www.mozilla.org/es-MX/firefox/new/", :target => "_blank"%> que se posiciona como una opcción realmente buena ya que lleva muchos años brindando un excelente servicio.</p>
        <p> El atraso tecnológico se ha visto resaltado en sobretodo en un navegador tradicional y uno de los mas usados a nivel mundial <%= link_to "Internet Explorer", "http://es.wikipedia.org/wiki/Internet_Explorer"%>, este navegador desarrollado por la empresa  <%= link_to "Microsoft", "http://es.wikipedia.org/wiki/Microsoft"%> se ha visto desfasado debido a que no es compatible con ciertas características de las nuevas tecnologías del desarrollo HTML5 y CSS3 no son completamente compatibles con este navegador, es hasta sus versiónes <%= link_to "9.0 o 10.0", "http://ie.microsoft.com/testdrive/Info/Downloads/Default.html", :target => "_blank" %>, que comienza a intentar mejorar su espectro tecnológico en cual ya venia quedando muy rezagado con respecto a la competencia siendo insuficientes sus esfuerzos para lograr alcanzar a  <%= link_to "Chrome", "https://www.google.com/intl/es/chrome/browser/?hl=es", :target => "_blank"%>.</p>   
    
       <h1>Requerimientos del sistema Cúrsame </h1>  
       <p> Cúrsame es un sistema desarrollado en el lenguaje de programación <%= link_to "Ruby", "http://www.ruby-lang.org/es/", :target => "_blank" %>, con una interfaz en <%= link_to "HTML5", "http://es.wikipedia.org/wiki/HTML5", :target => "_blank" %> y <%= link_to "CSS3", "http://es.wikipedia.org/wiki/CSS3#CSS_3", :target => "_blank" %>, por lo cual requerimos que tu navegador este correctamente actualizado y sea compatible con estas tecnologías como mencionamos anteriormente para que puedas cumplir con los requerimientos específicos del sistema te recomendamos que descargues uno de los siguientes navegadores.
           <center>
           <h2>Selecciona el navegador que deseas descargar</h2></br>
           <a class="btn" href='http://www.mozilla.org/es-MX/firefox/new/' style="cursor:pointer;" target="_blank" >
               MOZILLA FIREFOX</br><%= image_tag("firefox.png")%>
           </a>
           <a class="btn" href='https://www.google.com/intl/es/chrome/browser/?hl=es' style="cursor:pointer;" target="_blank" >
               GOOGLE CHROME</br><%= image_tag("chrome.png")%>
           </a>
           </center>
        
</div>