 <% @deliveries.each do |delivery| %>
       	 <div class="delivery <%= cycle("odd", "even") %>">
           <%= image_tag delivery.user.avatar_file.xsmall.url %>
           <div class="left right-margin"><%= link_to delivery.user.name, user_path(delivery.user) %><div class="assignment-values"><%= l delivery.updated_at, :format => :short %></div></div>
           <%= link_to t('.show'), delivery, :class => "btn" %>
         Calificación asignada: <div class="btn" href="#myModalcalification" data-toggle="modal"><%=delivery.raiting%>      
        
    <% end %>