<% if current_user.view_status == "fantom"%>
<div class="container">
  <div class="content">
	<center>
<%= image_tag("suspendido.png")%>
    </center>
  </div>
</div>
<%else%>
<div class="container">
  <div class="content">
    
    <div class="row">
      <div class="span16">
        <ul class="breadcrumb">
          <li><%= link_to("Dashboard", dashboard_path) %> <span class="divider">/</span></li>
          <li><%= link_to("Courses", courses_path) %> <span class="divider">/</span></li>
          <li><%= link_to(@assignment.course.name, course_path(@assignment.course)) %> <span class="divider">/</span></li>
          <li><%= link_to(t('courses.assignments.assignments'), course_assignments_path(@assignment.course)) %> <span class="divider">/</span></li>
          <li class="active"><%= @assignment.name %></li>
        </ul>  
      </div>
    </div>
    
    <div class="row">
      
      <div class="span3">
        <%= render :partial => "courses/course_menu" %>
   <% if @course.status == "finish"%>
     <%else%>
        <%= render :partial => "courses/members_menu" %>
     <%end%>
      </div>
      
      <div class="span10 assignments">
        <div class="row">
          <div class="span5">
            <h2 class="titles"><%= Assignment.model_name.human %>: <%= @assignment.name %></h2>
            <div class="public-course"><%= t('.course') %>: <%= @assignment.course.name %></div>
          </div>
          <div class="span3" style="margin-left:70px;">
            <% if current_user.manageable_assignments.where(:id => @assignment).count > 0 %>
<% if @course.status == "finish" %>
<%else%>
              <%= link_to t('formtastic.actions.delete'), @assignment, :id => 'delete', :class => 'btn danger right', :style => 'margin-left:10px;', :method => :delete, :confirm => t('confirm_delete') %>
              <%= link_to t('formtastic.actions.edit'), edit_assignment_path(@assignment), :id => 'edit', :class => 'btn info right' %>
<%end%>
            <% elsif @assignment.due_to > DateTime.now %>
              <% if current_user.deliveries.where(:assignment_id => @assignment).count == 0 %>
                <%= link_to t('.deliver'), new_assignment_delivery_path(@assignment), :id => 'deliver', :class => 'btn info right' %>
              <% else %>
                <%= link_to t('.show_delivery'), assignment_delivery_path(@assignment), :id => 'deliver', :class => 'btn info right' %>
                <%= link_to t('.edit_delivery'), edit_assignment_delivery_path(@assignment), :id => 'edit_delivery', :class => 'btn info right' %>
              <% end %>
            <% else %>
              <span style="color: red; font-size: 20;"><%= t('.failed_delivery') %></span>
            <% end %>
          </div>
        </div>
        
        <div class="row with line">
          <div class="span6 description no-margin">
            <p><%= t('courses.assignments.value') %>: <b><%= @assignment.value %></b> -
            <%= t('courses.assignments.period') %>: <b><%= @assignment.period %></b> -
            <%= t('courses.assignments.date_time') %>: <b><%= l @assignment.due_to, :format => :short %></b></p>
          </div>
        </div>
        
        <div class="row with line">
          <div class="description"><%= t('courses.description') %></div>
          <div class="expander"><p><%= @assignment.description %></p></div>
        </div>

        <%= render :partial => 'shared/assets_table', :locals => {:record => @assignment} %>
      
        <% if current_user.manageable_assignments.where(:id => @assignment).count > 0 %>
          <%= render :partial => "shared/assignments_tabs" %>
        <% end %>
        
        <div class="actions">
          <h2><%= t('assignments.show.deliveries') %></h2>
        </div>
        
        <% @deliveries.each do |delivery| %>
        <% if delivery.user.view_status == "fantom"%>
        <%else%>
        <% if @course.status == "finish"%>
 
		<% if delivery.raiting == "nil"%>
        <div class="delivery <%= cycle("odd", "even") %>">
            <%= image_tag delivery.user.avatar_file.xsmall.url %>
            <div class="left right-margin"><%= link_to delivery.user.name, user_path(delivery.user) %><div class="assignment-values"><%= l delivery.updated_at, :format => :short %></div></div>
          
        <%= link_to t('.show'), delivery, :class => "btn" %>

           <%else%>
       
         <div class="delivery <%= cycle("odd", "even") %>">
            <%= image_tag delivery.user.avatar_file.xsmall.url %>
            <div class="left right-margin"><%= link_to delivery.user.name, user_path(delivery.user) %><div class="assignment-values"><%= l delivery.updated_at, :format => :short %></div></div>
          
        <%= link_to t('.show'), delivery, :class => "btn" %>
           
          <%end%>
           
         <% if delivery.raiting == "nil"%>
           <div class="delivery <%= cycle("odd", "even") %>">
	            <%= image_tag delivery.user.avatar_file.xsmall.url %>
	            <div class="left right-margin"><%= link_to delivery.user.name, user_path(delivery.user) %><div class="assignment-values"><%= l delivery.updated_at, :format => :short %></div></div>

	        <%= link_to t('.show'), delivery, :class => "btn" %>
         <%else%>
             <% if delivery.limit == "nil"%>
                  Calificación asignada:  <b class="label-tag calification-bad">0</b>
             <%else%>
            <% @calculus = (delivery.limit/2)%> 
           <% if delivery.raiting > @calculus %>
          Calificación asignada:  <b class="label-tag calification-good"><%=delivery.raiting%></b>
            <%else %>
           Calificación asignada:  <b class="label-tag calification-bad"><%=delivery.raiting%></b>      
            <%end%>
           <%end%>
           <%end%>
        <%else%>

          <div class="delivery <%= cycle("odd", "even") %>">
            <%= image_tag delivery.user.avatar_file.xsmall.url %>
            <div class="left right-margin"><%= link_to delivery.user.name, user_path(delivery.user) %><div class="assignment-values"><%= l delivery.updated_at, :format => :short %></div></div>
            <%= link_to t('.show'), delivery, :class => "btn" %>

         
       <% if delivery.limit == "nil"%>
                  Calificación asignada:  <b class="label-tag calification-bad">0</b>
            
          <%else%>
           <% @nil == "nil "%>
          <% @calculus = (delivery.limit/2)%> 
            <% if @calculus == @nil%>
              Calificación asignada:  <b class="label-tag calification-bad">0</b>
             <%else%>
           <% if delivery.raiting > @calculus %>
          Calificación asignada:  <b class="label-tag calification-good"><%=delivery.raiting %></b>
            <%else%>
           Calificación asignada:  <b class="label-tag calification-bad"><%=delivery.raiting %></b>      
           <%end%>
           <%end%>
       <%end%>
      <%end%>
          </div>
        <% end %>
        <%end%>
        </div>
      
        <div class="span3" style="margin:0;">
          <%= render :partial => "shared/adds" %>
        </div>
      
    </div>
    
  </div>
</div>
<%end%>
<script type="text/javascript">
  $(function(){
    setupAutoScroll();
  });
</script>
