<h1><%= t('.header') %></h1>

<div class="span3">
  <%= render :partial => "courses/course_menu" %>
  <%= render :partial => "courses/members_menu" %>
</div>

<%- if current_user.manageable_courses.where('courses.id' => @course).count > 0 %>
  <%= link_to t('.new_survey'), new_course_survey_path(@course) %>
<% end %>

<div class="surveys">
  <%= render :partial => 'survey', :collection => @surveys %>
</div>
