<h1>Formulario de búsqueda avanzada de usuarios</h1>

<%= form_tag admin_users_specific_search_path, :method => 'get', :class => 'form-search right' do %>
     <%= text_field_tag :search, params[:search], :placeholder => 'Nombre', :class => 'input-medium search-query' %>
     <%= submit_tag 'Buscar usuario', :class => 'btn' %>
<% end %>
</br></br>
</br>
</br>

<div class="members-grid">
<% @users.each do |user| %>
    <% if user.view_status == "fantom"%>
   <%else%>
      <% @users.each do |user|%>
      </br>
      <div class="well">
      Nombre: <%= link_to user.name, admin_users_show_path(user)%></br>
      Email: <%= mail_to user.email, user.email%></br>
      Role: <%= user.role%></br>
      <% user.networks.each do |network|%>
      Red_id: <%= network.id%></br>
      Nombre_de_red: <%= link_to network.name, "http://#{network.subdomain}.cursa.me"%></br></br>

      <div class="btn" onclick="UserAdminEdition(<%= user.id %>)">Editar usuario</div></br></br>

      <div id="editptr-<%= user.id %>"  style="display:none; height:150px; overflow:auto; margin-top:-5px;
      margin-left:30px;background-color:#f7f7f7;">
         <%= form_for user do |form|%>
           <%= form.text_field :name%></br>
           <%= form.text_field :email%></br>
           <%= form.text_field :role%></br>
           <%= form.submit "Cambiar usuario", :class => "btn" %>         
         <%end%>
      </div>
      <%end%></br>
      </div>
      <%end%>    
    
  <%end%>
<% end %>
 </div>
</div>
  <script>
  	function UserAdminEdition(id){
  		$('#editptr-'+id).toggle();
  	}
  </script>