<% if course.status == "finish"%>
<%else%>
<div class="course padding-all <%= cycle('odd', 'even') %>">
  <div class="row">
    <div class="span6">
      <h3>
        <%= accessible_courses.include?(course) ? link_to(course.name, wall_for_course_path(course)) : course.name %>
      </h3>
    </div>
    <div class="span4" style="margin-top: 5px;">
      <% enrollment = current_user.enrollments.where(:course_id => course).first %>
      <% if !enrollment %>
        <span class="label-tag notice course-notification student_request">
          <% unless accessible_courses.include? course %>
            <%= link_to t(".request_join_student"), course_requests_path(course, :role => 'student'), :method => :post %>
          <% end %>
        </span>
        <%if current_user.teacher?%>
          <br />
          <span class="label-tag notice course-notification teacher_request">
            <%= link_to t(".request_join_teacher"), course_requests_path(course, :role => 'teacher'), :method => :post %>
          </span>
        <%end%>
        <% elsif enrollment.pending? %>
          <span class="label-tag important requested"><%= t('.join_requested') %></em>

        <% elsif enrollment.rejected? %>
          <span class="label-tag important rejected"><%= t('.join_rejected') %></span>
          <br />
          <%= link_to t(".request_join_again"), course_requests_path(course, :role => 'student'), :method => :post %>
          <%if current_user.teacher?%>
          <br />
          <span class="label-tag notice course-notification teacher_request">
            <%= link_to t(".request_join_teacher"), course_requests_path(course, :role => 'teacher'), :method => :post %>
          </span>
        <%end%>
        <% elsif enrollment.accepted? %>
        <!--  <span class="label-tag success"><%#= t('.join_accepted') %></span>-->

        <% end %>
      
    <% if current_user.manageable_courses.include? course %>
      <span class="label-tag notice course-notification edit_course"><%= link_to(t('courses.edit'), edit_course_path(course)) %></span> 
      <% if course.can_be_destroyed_by? current_user %>
        <span class="label-tag important course-notification destroy_course"><%= link_to(t('courses.delete'), course_path(course), :confirm => t('.confirm_delete'), :method => :delete) %></span>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="course-by">
    <%= t('courses.by') %> <%= course.owner.name %> - <%= course.reference %>
  </div>
  <p class="padding-right"><%= truncate(course.description, :length => 200).html_safe %></p>
</div>
<%end%>