<div class="underline">
  <%= image_tag 'microeconomia.png' %>
</div>

<div class="underline">	
  <ul class="left-nav-main-ul">
    <li><%= link_to(t('courses.menu.updates'), "#", :class => "actualizaciones") %></li>
    <li><%= link_to(t('courses.menu.discus'), "#", :class => "discusiones" ) %></li>
    <li><%= link_to(t('courses.menu.tasks'), "#", :class => "tareas") %></li>
    <li><%= link_to(t('courses.menu.docs'), "#", :class => "documentos") %></li>
    <li><%= link_to(t('courses.menu.evaluations'), "#", :class => "evaluaciones") %></li>
    <li><%= link_to(t('courses.menu.calendar'), "#", :class => "calendario") %></li>
  </ul>
</div>