<% unless @course.logo_file.blank? %>
  <div class="underline">
    <%= image_tag @course.logo_file.small.url %>
  </div>
<% end %>

<div class="underline">	
  <%= tabs_tag(:builder => MenuTabBuilder, :open_tabs => { :class => "left-nav-main-ul" }) do |tab| %>
    <%= tab.course t('courses.information'), course_path(@course), :class => "informacion" %>
    <%= tab.wall t('courses.wall.header'), wall_for_course_path(@course), :class => "actualizaciones" %>
    <%= tab.assignments t('.assignments'), course_assignments_path(@course), :class => "tareas" %>
    <%= tab.assignments t('.surveys'), course_surveys_path(@course), :class => "surveys" %>
    <%= tab.discussions t('.discussions'), course_discussions_path(@course), :class => "discusiones" %>
  <% end %>
</div>
