<%= semantic_form_for @course do |form| %>
  <%= form.inputs :file do %>
    <li class='preview'><img src="<%= @course.logo_file.thumb.url %>" /></li>
    <%= form.input :logo_file, :as => :file, :input_html => {'data-upload-path' => upload_logo_for_courses_path} %>
    <%= form.input :logo_file_cache, :as => :hidden %>
  <% end %>

  <%= form.inputs do %>
    <%= form.input :name, :input_html => {:class => "span6"}  %>
    <!--<%= form.input :description, :input_html => {'data-editor' => true, :class => 'span6'} %>-->
    <%= form.input :description, :input_html => {:class => "span6"} %>
    <%= form.input :start_date, :as => :string, :input_html => {:placeholder => "dd-mm-yy", :class => 'span6 datepicker'} %>
    <%= form.input :finish_date, :as => :string, :input_html => {:placeholder => "dd-mm-yy", :class => 'span6 datepicker'} %>
    <%= form.input :reference, :label => t('courses.details'), :input_html => {:class => "span6"} %>
    <%= form.input :public %>
  <% end %>

  <div class="well">
    <%= render :partial => 'shared/assets_fields', :locals => {:form => form} %>
  </div>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => {:id => :submit, :class => 'btn large right'} %>
  <% end %>
<% end %>
