<%= semantic_form_for @course do |form| %>
  <%= form.inputs :file do %>
    <li class='preview'>
      <img src="<%= @course.logo_file.thumb.url %>"/>
    </li>
    <%= form.input :logo_file, :as => :file, :input_html => {'data-upload-path' => upload_logo_for_courses_path} %>
    <%= form.input :logo_file_cache, :as => :hidden %>
  <% end %>

  <%= form.inputs do %>
    <%= form.input :name %>
    <%= form.input :description, :input_html => {'data-editor' => true} %>
    <%= form.input :start_date %>
    <%= form.input :finish_date %>
    <%= form.input :reference %>
    <%= form.input :public %>
  <% end %>

  <fieldset class="nested_models assets input" data-association="assets">
    <%- @course.assets.build %>
    <%= form.semantic_fields_for :assets do |asset| %>
      <%- record = asset.object %>
      <fieldset class="<%= record.new_record? ? :new : nil %>">
        <div class='preview'>
          <img /> 
        </div>
        <ol>
          <%= asset.input :name %>
          <%= asset.input :description %>
          <%= asset.input :file, :as => :file, :input_html => {'data-upload-path' => upload_asset_for_courses_path} %>
          <%= asset.input :file_cache, :as => :hidden %>
          <%= asset.input :_destroy, :as => :boolean %>
        </ol>
      </fieldset>
    <% end %>
    <%= link_to t('.add_asset'), '#', :class => 'add_record', :style => 'display:none' %>
  </fieldset>

  <%= form.buttons do %>
    <%= form.commit_button :button_html => {:id => :submit} %>
  <% end %>
<% end %>
