<div class="underline">	
  <ul class="left-nav-main-ul">
    <li>
      <a href="<%= members_for_course_path(@course) %>" class="miembros <%= members_active %>"><%= t('courses.course_menu.members') %> 
        <span class="label-tag notifications"><%= @course.enrollments.where(:state => 'pending').count %></span>
      </a>
    </li>

  </ul>
  <div class="total-members"><%= course_members(@course) %></div>
  <ul class="nav-member-avatars">
    <% @course.users.each do |avatars| %>
      <li><%= link_to(image_tag(avatars.avatar_file.xsmall.url), user_path(avatars)) %></li>
    <% end %>
  </ul>
</div>
