<div class="underline">	
  <ul class="left-nav-main-ul">
    <li>
      <a href="<%= members_for_course_path(@course) %>" class="miembros <%= members_active %>"><%= t('courses.course_menu.members') %>
        <% if current_user.manageable_courses.include?(@course) && @course.enrollments.where(:state => 'pending').count > 0 %>
          <span class="label-tag notifications tip" title="<%= t('courses.requests.pending_requests')%>"><%= @course.enrollments.where(:state => 'pending').count %></span>
        <% end %>
      </a>
    </li>

  </ul>
  <% i = 0%>
  <% @course.users.each do |user| %> 
   <% i+=1 if user.view_status == "fantom"%>
  <% end %>
  <%@l=@course.users.count-i %>
  <div class="total-members"><%= t('courses.members.count', :count => @l) + " activo "%></div>
  <ul class="nav-member-avatars">	
    <% @course.users.each do |user| %> 
    <% if user.view_status == "fantom" %>   
    <%else%>
      <li><%= link_to(image_tag(user.avatar_file.xsmall.url), user_path(user), :rel => "tip", :title => user.name) %></li>
      <%end%>
    <% end %>
  </ul>
</div>
