<div class="underline">	
  <ul class="left-nav-main-ul">
    <li><%= link_to(t('courses.menu.members'), members_course_path, :class => "miembros") %></li>
  </ul>
  <div class="total-members"><%= course_members %></div>
  <ul class="nav-member-avatars">
    <li><%= link_to(image_tag('al.png'), "#") %></li>
    <li><%= link_to(image_tag('al.png'), "#") %></li>
    <li><%= link_to(image_tag('profr.png'), "#") %></li>
    <li><%= link_to(image_tag('al.png'), "#") %></li>
    <li><%= link_to(image_tag('profr.png'), "#") %></li>
    <li><%= link_to(image_tag('al.png'), "#") %></li>
    <li><%= link_to(image_tag('profr.png'), "#") %></li>
    <li><%= link_to(image_tag('profr.png'), "#") %></li>
    <li><%= link_to(image_tag('al.png'), "#") %></li>
    <li><%= link_to(image_tag('profr.png'), "#") %></li>
    <li><%= link_to(image_tag('al.png'), "#") %></li>
    <li><%= link_to(image_tag('profr.png'), "#") %></li>
  </ul>
</div>