<div class="underline">	
  <ul class="left-nav-main-ul">
    <li><a href="<%= members_course_path(@course) %>" class="miembros"><%= t('courses.course_menu.members') %> 
        <span class="label-tag notifications"><%= @course.enrollments.where(:state => 'pending').count %></span></a></li>
    <!--<li><%= link_to(t('courses.members.requests'), course_requests_path(@course), :class => "solicitudes" ) %></li>-->
  </ul>
  <div class="total-members"><%= course_members(@course) %></div>
  <ul class="nav-member-avatars">
    <% @course.users.each do |avatars| %>
      <li><%= link_to(image_tag(avatars.avatar_file.xsmall.url), user_path(avatars)) %></li>
    <% end %>
  </ul>
</div>