<html>
<div class="container">
  <div class="content">
	<div class="row">
      <div class="span16">
        <ul class="breadcrumb">
          <li><%= link_to("Dashboard", dashboard_path) %> <span class="divider">/</span></li>
          <li><%= link_to(t('courses.courses'), courses_path) %> <span class="divider">/</span></li>
          <li class="active"><%= @course.name %></li>
        </ul>  
      </div>
    </div>
 <div class="row">
      <div class="span3">
        <%= render :partial => "course_menu" %>
        <%= render :partial => "members_menu" %>
      </div>
      <div class="span10">
        <h1>Calificaciones del curso</h1>
		<%= render :partial => "calification/index"%>
      </div>
      <div class="span3" style="margin:0;">
        <%= render :partial => 'shared/adds' %>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
<html>