<div class="container">
  <div class="content">
    
    <div class="row">
      <div class="span16">
        <ul class="breadcrumb">
          <li><%= link_to("Dashboard", dashboard_path) %> <span class="divider">/</span></li>
          <li><%= link_to("Courses", courses_path) %> <span class="divider">/</li>
          <li><%= link_to(@course.name, course_path(@course))%> <span class="divider">/</span></li>
          <li><%= t('courses.edit_course')%></li>
        </ul>  
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <%= render :partial => "course_menu" %>
      </div>
      <div class="span10">
        <h1>Editar Curso</h1>
        <%= render :partial => 'form' %>
      </div>
      <div class="span3" style="margin:0;">
        <%= render :partial => 'shared/adds' %>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
