<div class="container">
  <div class="content">
    <div class="row">
      <div class="span3">
        <%= render :partial => "course_menu" %>
      </div>
      <div class="span10">
        <h2><%= t('.title') %></h2>
        <div class="courses">
          <% @courses.each do |course| %>
            <div class='course'>
              <h3><%= link_to course.name, course_path(course) %></h3>
              <div class="course-by">
                por Florentino Perez - <%= course.reference %>
              </div>
              <p><%= truncate(course.description, :length => 200) %></p>

              <p style="color:red;">
              <% enrollment = current_user.enrollments.where(:course_id => course).first %>
              <% if !enrollment %>
                <%= link_to t(".request_join"), course_requests_path(course), :method => :post %>

              <% elsif enrollment.pending? %>
                <em><%= t('.join_requested') %></em>

              <% elsif enrollment.rejected? %>
                <em><%= t('.join_rejected') %></em>
                <%= link_to t(".request_join_again"), join_course_path(course), :method => :post %>

              <% elsif enrollment.accepted? %>
                <em><%= t('.join_accepted') %></em>

              <% end %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="span3" style="margin:0;">
        <%= render :partial => "shared/adds" %>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
