<div class="container">
  <div class="content">
    
    <div class="row">
      <div class="span16">
        <ul class="breadcrumb">
          <li><%= link_to("Dashboard", dashboard_path) %> <span class="divider">/</span></li>
          <li>Courses</li>
        </ul>  
      </div>
    </div>
    
    <div class="row">
      <div class="span13">
        
        <div class="row bottom-margin">
          <div class="span9">
            <h2><%= t('.title') %></h2>
          </div>
          <div class="span3">
            <% if current_user.teacher? %>
              <%= link_to("+ " + t('courses.create_course'), new_course_path, :class => "btn small right") %>
            <% end %>
          </div>
        </div>
        
        <div class="courses">
          <% @courses.each do |course| %>
            <div class="course padding-all <%= cycle('odd', 'even') %>">
              <div class="row">
                <div class="span6"><h3><%= link_to course.name, course_path(course) %></h3></div>
                <div class="span4" style="margin-top: 5px;">
                <% if current_user.manageable_courses.include? course %>
                <span class="label-tag notice course-notification"><%= link_to(t('courses.edit'), edit_course_path(course)) %></span> 
                <!--<span class="label-tag important course-notification"><%= link_to(t('courses.delete'), course_path(course), :confirm => t('confirm_delete'), :method => :delete) %></span>-->
                <% end %>
                </div>
              </div>
              <div class="course-by">
                <%= t('courses.by') %> <%= course.owner.name %> - <%= course.reference %>
              </div>
              <p class="padding-right"><%= truncate(course.description, :length => 200).html_safe %></p>

              <p style="color:red;">
              <% enrollment = current_user.enrollments.where(:course_id => course).first %>
              <% if !enrollment %>
                <%= link_to t(".request_join"), course_requests_path(course), :method => :post %>

              <% elsif enrollment.pending? %>
                <em><%= t('.join_requested') %></em>

              <% elsif enrollment.rejected? %>
                <em><%= t('.join_rejected') %></em>
                <%= link_to t(".request_join_again"), join_course_path(course), :method => :post %>

              <% elsif enrollment.accepted? %>
                <em><%= t('.join_accepted') %></em>

              <% end %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="span3" style="margin:0;">
        <%= render :partial => "shared/adds" %>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
