<% if current_user.view_status =="fantom"%>
<div class="container">
  <div class="content">
	<center>
<%= image_tag("suspendido.png")%>
    </center>
  </div>
</div>
<%else%>
<div class="container">
  <div class="content">
    
    <div class="row">
      <div class="span16">
        <ul class="breadcrumb">
          <li><%= link_to("Dashboard", dashboard_path) %> <span class="divider">/</span></li>
          <li><%= link_to("Courses", courses_path) %> <span class="divider">/</span></li>
          <li><%= link_to(@course.name, course_path(@course)) %> <span class="divider">/</span></li>
          <li class="active">Miembros del Curso</li>
        </ul>  
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <%= render :partial => "course_menu" %>
        <%= render :partial => "members_menu" %>
      </div>
      <div class="span10">
        <h2><%= t('courses.members.members_in_course') %></h2>

        <% if @pending_students or @pending_teachers %>
          <h3><%= t('courses.requests.requests') %></h2>
          <div class="members">
            <%= render :partial => 'member', :collection => @pending_students+@pending_teachers %>
          </div>
        <% end %>

        <h3><%= t('courses.members.teachers') %></h3>
        <div class="members">
          <% @teachers.each do |teacher| %>
              <% if teacher.view_status == "fantom"%>
             <div class="teacher">
              <div class="row">
                <div class="span1" style="margin-left:20px;">
                  <%= image_tag('anonimus-user/tamano/anonimus2.png') %>
                </div>
                <div class="span5">
                  <%= "Usuario Anónimo" %><br />
                  <%= "Rol: Profesor" %>
                </div>
              </div>
            </div>
              <%else%>
            <div class="teacher">
              <div class="row">
                <div class="span1" style="margin-left:20px;">
                  <%= image_tag teacher.avatar_file.xsmall.url %>
                </div>
                <div class="span5">
                  <%= link_to(teacher.name, user_path(teacher)) %><br />
                  <%= mail_to teacher.email %>
                </div>
              </div>
            </div>
             <%end%>
          <% end %>
        </div>

        <h3><%= t('courses.members.students') %></h2>
        <div class="members">
          <%= render :partial => 'member', :collection => @students %>
        </div>
      </div>
      <div class="span3" style="margin:0;">
        <%= render :partial => "shared/adds" %>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
<%end%>