<div class="container">
  <div class="content">
    
    <div class="row">
      <div class="span16">
        <ul class="breadcrumb">
          <li><%= link_to("Dashboard", dashboard_path) %> <span class="divider">/</span></li>
          <li><%= link_to("Courses", courses_path) %> <span class="divider">/</span></li>
          <li><%= link_to(@course.name, course_path(@course)) %> <span class="divider">/</span></li>
          <li class="active">Miembros del Curso</li>
        </ul>  
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <%= render :partial => "course_menu" %>
        <%= render :partial => "members_menu" %>
      </div>
      <div class="span10">
        <h2><%= t('courses.members.members_in_course') %></h2>

        <h3><%= t('courses.members.teachers') %></h3>
        <div class="members">
          <% @teachers.each do |teacher| %>
            <div class="teacher">
              <div class="row">
                <div class="span1" style="margin-left:20px;">
                  <%= image_tag(teacher.avatar_file.xsmall.url) %>
                </div>
                <div class="span5">
                  <%= link_to(teacher.name, user_path(teacher)) %><br />
                  <%= teacher.email %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <h3><%= t('courses.members.students') %></h2>
        <div class="members">
          <% @students.each do |student| %>
            <div class="student">
              <div class="row bottom-margin <%= cycle("odd", "even") %>">
                <div class="span1" style="margin-left:20px;">
                  <%= image_tag(student.avatar_file.xsmall.url) %>
                </div>
                <div class="span4">
                  <%= link_to(student.name, user_path(student)) %>
                  <% if current_user.manageable_courses.include? @course %>
                    <% request = @course.enrollments.where(:user_id => student).first %>
                    <% if request.state == 'accepted' %>
                     - <%= link_to t('.reject'), reject_request_path(request), :method => :post, :style => "color:red;"%>
                    <% end %>
                  <% end %><br />
                  <%= mail_to student.email %>
                </div>
                <div class="span4">
                  <% if current_user.manageable_courses.include? @course %>
                    <% request = @course.enrollments.where(:user_id => student).first %>
                    <% if request.state == 'pending' %>
                      <%= link_to t(".#{request.state}"), accept_request_path(request), :method => :post, :class => "btn success small" %>
                      <%= link_to t('.reject'), reject_request_path(request), :method => :post, :class => "btn small danger" %>
                    <% end %>
                  <% end %>
                </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="span3" style="margin:0;">
        <%= render :partial => "shared/adds" %>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
