<div class="container">
  <div class="content">
    
    <div class="row">
      <div class="span16">
        <ul class="breadcrumb">
          <li><%= link_to("Dashboard", dashboard_path) %> <span class="divider">/</span></li>
          <li><%= link_to(t('courses.courses'), courses_path)%> <span class="divider">/</span></li>
          <li><%= t('courses.create_course')%></li>
        </ul>  
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        
      </div>
      <div class="span10">
        <h1>Crear Curso Nuevo <div class="btn small right  info "  data-toggle="modal" href="#cloneCourseModal"><%= "++ " + t('courses.clone_course')%></div>
		</h1>
		 <pre>Para crear un curso es necesario que usted llene todos los campos de lo contrario su información no podrá ser almacenada.</pre>
        <%= render :partial => 'form' %>
      </div>
      <div class="span3" style="margin:0;">
        <%= render :partial => 'shared/adds' %>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>

<div class="modal hide" id="cloneCourseModal" style="display:none;">
 <div class="modal-header">
   <a class="close" data-dismiss="modal" >×</a> 
   <h3><%=t('courses.clone_course')%></h3>
   
 </div>
 <div class="modal-body" style="overflow: auto; height: 300px;">
 	<% @courses.each do |course| %>
		<%if course.owner == current_user%>
			<h4 class="well">				
				<%= form_for curso = Course.new do |f| %>	
					<%= course.name %></br>					
					<input type="hidden" name="clone" value="true" />
					<input type="hidden" name="id"  value="<%=course.id%>" />										
					<%= f.submit t('courses.clone_course'), :class => "btn small right info",:onclick => 'alert("Los archivos del curso anterior se asignarán al nuevo curso clonado)' %>
				<% end %>
			</h4>
		<%end%>
	<%end%>
 </div>
<div class="modal-footer">
   <p><b>Notificación:</b> Al clonar un curso todos los archivos principales del mismo serán traspasados al nuevo curso, <i>"una vez clonado el curso solo serán visibles en el curso recién creado (le recomendamos que el curso anterior sea eliminado o finalizado)"</i>, lo que permitirá reiniciar la asignatura ya con su pre-cargado de material. </p>
</div>
</div>