<div class="container">
  <div class="content">
    <div class="row">
      <div class="span3">
        <%= render :partial => "course_menu" %>
        <%= render :partial => "members_menu" %>
      </div>
      <div class="span10">
        <h2><%= @course.name %></h2>
        <div class="public-course">
          <% if @course.public? %>
            <%= t('courses.public') %>
          <% else %>
            <%= t('courses.private') %>
          <% end %>
        </div>
        <div class="row with line">
          <div class="span2 description no-margin"><%= t('courses.time') %></div>
          <div class="span6"><p><%= l @course.start_date, :format => :medium %> - <%= l @course.finish_date, :format => :medium %></p></div>
        </div>
        <div class="row with line">
          <div class="description"><%= t('courses.description') %></div>
          <div class="expander"><p><%= @course.description %></p></div>
        </div>
        <div class="row with">
          <div class="description"><%= t('courses.details') %></div>
          <p><%= @course.reference %></p>
        </div>
        
        <div class="section-divider"><h3><%= t('courses.archives') %></h3></div>

        <! create assignment link !>
        <%= link_to t('.create_assignment'), new_course_assignment_path(@course), :id => 'new_assignment' %>

        
        <% unless @course.course_assets.empty? %>
          <table class="zebra-striped" data-sortable="true">
            <thead>
              <tr>
                <th class="blue"><%= CourseAsset.human_attribute_name :type %></th>
                <th class="blue"><%= CourseAsset.human_attribute_name :name %></th>
                <th class="blue"><%= CourseAsset.human_attribute_name :description %></th>
                <th class="blue"><%= CourseAsset.human_attribute_name :created_at %></th>
              </tr>
            </thead>
            <tbody>
              <% @course.course_assets.each do |asset| %>
                <tr class='asset'>
                  <td><%= asset.file.url.match(/\.(\w+)$/)[1] %></td>
                  <td><%= link_to asset.name, asset.file.url %></td>
                  <td><%= asset.description %></td>
                  <td><%= l asset.created_at, :format => :short %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No hay archivos del curso.</p>
        <% end %>
      </div>
      <div class="span3" style="margin:0;">
        <%= render :partial => "shared/adds" %>
      </div>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>
</div>
