<p>Hola <%= @resource.first_name %>!</p>

<p>
Como te hicimos saber hace unos d&iacute;as, Cúrsame se ha actualizado para ofrecerte mejores herramientas y experiencia.
<br />
<br />
Por el mismo motivo hemos, creamos una nueva contraseña para que accedas a la nueva plataforma, sin embargo, te sugerimos ampliamente cambiarla a tu gusto una vez dentro del sistema.
<br />
<br />
Tu nueva contraseña es: <strong><%= "#{@resource.first_name.gsub(" ", "_").downcase}#{@resource.id}" %></strong>
<%begin%>
<%subdomain = @resource.networks.first.subdomain%>
<%rescue%>
<%subdomain = nil%>
<%end%>
<br />
Ingresa con tu e-mail (<%= "#{@resource.email}" %>) y tu nueva contraseña: acceso a <%= link_to 'red ESE', root_url(:subdomain=>subdomain) %>.
<br />
<br />
¡Esperamos disfrutes del nuevo sistema y te invitamos a empezar tus cursos!
</p>
<p>
Cualquier duda, siempre puedes contactarnos al mail <%= link_to 'hola@cursa.me', 'mailto:hola@cursa.me' %>.
</p>

